{% extends 'guest/master.html' %}

{% block tcontent %}
CRM - About Us
{% endblock %}

{% block childcontent %}








<br>
<br>
<br>
<br>

<!-- ***** Blog Start ***** -->
<section class="section" id="blog">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title"><b>Project's Entries</b></h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh.
                        Cras maximus venenatis molestie. <br> <b>Explore below...</b> </p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="/_static/guest/images/project1-chatapp.jpeg" style="width: 350px;" alt="">
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="#"><b>Chat App</b> (Python-Django Tech)</a>
                        </h3>
                        <div class="text">
                            Chatting app <b>allows you to communicate with your customers in web chat rooms</b>. It
                            enables you to send and receive messages with encryption security.
                        </div>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="/_static/guest/images/project2-imageprocessing.jpeg" style="width: 350px;" alt="">
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="#"><b>Image Processing</b> (Automation Tech)</a>
                        </h3>
                        <div class="text">
                            Image processing operations are <b>used to improve the image quality and enhance desired
                                features</b>. Analysis of the enhanced images enables pattern recognition.
                        </div>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img src="/_static/guest/images/project3-onlineshopping.jpeg" style="width: 350px;" alt="">
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="#"><b>Online Shopping</b> (React+NodeJS Tech)</a>
                        </h3>
                        <div class="text">
                            The Online Shopping is <b>a web based application intended for online retailers</b>. The
                            main objective of this application is to make it interactive and its ease of use.
                        </div>
                        <a href="#" class="main-button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Blog End ***** -->





{% endblock %}