<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">




 <title>

{% block tcontent %}

{% endblock %}

</title>





    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/_static/guest/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/_static/guest/css/font-awesome.css">

    <link rel="stylesheet" href="/_static/guest/css/templatemo-softy-pinko.css">

    </head>
    
    <body style="background-color:#364c61;">

    

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container" style="padding-right: 0px; padding-left: 0px;">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/defaultadmin/" class="logo">
                            <img src="/_static/guest/images/logo.png" style="height: 42px; width: 230px;" alt="Softy Pinko"/>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/index/" {% if request.path == '/' %} class="active"{% endif %}>Home</a></li>
                            <li><a href="/workprocess/" {% if request.path == '/workprocess/' %} class="active"{% endif %}>Work Process</a></li>
                            <li><a href="/aboutus/" {% if request.path == '/aboutus/' %} class="active"{% endif %}>About Us</a></li>
                            <li><a href="/contactus/" {% if request.path == '/contactus/' %} class="active"{% endif %}>Contact Us</a></li>
                            <li><a href="/admin/login/" {% if request.path == '/admin/login/' %} class="active"{% endif %}>Admin</a></li>
                            <li><a href="/projectmanager/login/" {% if request.path == '/projectmanager/login/' %} class="active"{% endif %}>Project Manager</a></li>
                            <li><a href="/developer/login/" {% if request.path == '/developer/login/' %} class="active"{% endif %}>Developer</a></li>
                            <li><a href="/visit/" {% if request.path == '/visit/' %} class="active"{% endif %}>Visits</a></li>
                        </ul>                         
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->












{% block childcontent %}

{% endblock %}





 


    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2021 ShriVashu Company. <b style="text-transform: lowercase; color: red;">@theshivashu07</b></p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="/_static/guest/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/_static/guest/js/popper.js"></script>
    <script src="/_static/guest/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/_static/guest/js/scrollreveal.min.js"></script>
    <script src="/_static/guest/js/waypoints.min.js"></script>
    <script src="/_static/guest/js/jquery.counterup.min.js"></script>
    <script src="/_static/guest/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="/_static/guest/js/custom.js"></script>

  </body>
</html>