{% extends 'otherapps/developer/master.html' %}

{% block tcontent %}
CRM - Developer
{% endblock %}




{% block childcontent %}



<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms /</span> Input groups</h4>
    <div class="row">
      <!-- Basic -->
      <div class="col-md-12">
        <div class="card mb-4">
          <h4 class="card-header"><b>Reports Selection</b></h4>
          <!-- Account -->
          <hr class="my-0">
          <div class="card-body" style="background-color: #1d242e;">
            <form id="formAccountSettings" method="POST" onsubmit="return false">
              <div class="row">
                <div class="col-md">
                  <div id="accordionIcon" class="accordion mt-3 accordion-without-arrow">
                    <div class="card-body" style="padding-top:0">
                      <div class="row gx-3 gy-2 align-items-center">
                        <div class="col-md-5">
                          <label class="form-label" for="selectTypeOpt">Date:</label>
                          <input class="form-control" type="date" id="html5-date-input" value="2023-01-20">
                        </div>
                        <div class="col-md-5">
                          <label class="form-label" for="selectPlacement">Project's</label>
                          <select id="language" class="select2 form-select">
                            <!-- <option value="">Select Language</option> -->
                            <option value="" selected="">Select Project</option>
                            <option value="projectcrm">Project CRM</option>
                            <option value="shoppingsite">Shopping Site</option>
                            <option value="schoolmanagement">School Management</option>
                            <option value="portfoliosite">Portfolio Site</option>
                          </select>
                        </div>
                        <div class="col-md-2">
                          <label class="form-label" for="showToastPlacement">&nbsp;</label>
                          <button id="showToastPlacement" class="btn btn-primary d-block">Done</button>
                        </div>
                      </div>
                    </div>
                    <br><br>
                    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> 20-01-2023 / </span> None </h4>
                    <div class="accordion-item card" style="padding: 5px;">
                      <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionIconOne">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                          data-bs-target="#accordionIcon-1" aria-controls="accordionIcon-1" aria-expanded="false">
                          <!-- <b>Shivam Shukla</b> -->
                          <b style="color: dimgray; font-size:20px;">20-02-2023 / <u
                              style="color:#ff7700;">@projectcrm</u></b>
                        </button>
                      </h2>
                      <div id="accordionIcon-1" class="accordion-collapse collapse" data-bs-parent="#accordionIcon"
                        style="background-color: #1d242e;">
                        <div class="accordion-body">
                          <br><br>
                          <span class="badge" style="float: right; font-size: 15px; color: white;">
                            <div class="col-md-5">
                              <select id="language" class="select2 form-select"
                                style="background-color:#11191c; width:100px; border-color: #283848;">
                                <!-- <option value="">Select Project</option> -->
                                <option value="report" selected="">All</option>
                                <option value="report">Reports</option>
                                <option value="message">Message</option>
                              </select>
                            </div>
                          </span>
                          <h4 class="fw-bold py-3 mb-12"><span class="text-muted fw-light">Project Manager : </span>
                            Shivashu Shukla
                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center"
                              style="padding-left:0;">
                              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                class="avatar avatar-xs pull-up" title="" data-bs-original-title="Shivashu Shukla">
                                <img src="/_static/otherapps/img/avatars/shivashushukla.jpg" alt="Avatar"
                                  class="rounded-circle">
                              </li>
                              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                class="avatar avatar-xs pull-up" title="" data-bs-original-title="Shri Shukla">
                                <img src="/_static/otherapps/img/avatars/shrishukla.jpg" alt="Avatar"
                                  class="rounded-circle">
                              </li>
                              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                class="avatar avatar-xs pull-up" title="" data-bs-original-title="Angle Viston">
                                <img src="/_static/otherapps/img/avatars/angleviston.jpg" alt="Avatar"
                                  class="rounded-circle">
                              </li>
                              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                class="avatar avatar-xs pull-up" title="" data-bs-original-title="Merry Cluster">
                                <img src="/_static/otherapps/img/avatars/merrycluster.jpg" alt="Avatar"
                                  class="rounded-circle">
                              </li>
                            </ul>
                          </h4>
                          <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                            <div class="card" style="background-color:#ffffff; color:black;">
                              <div class="card-body" style="padding: 10px;">
                                <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                                <h5 class="card-title" style="margin-bottom: 5px;"><b>Shivam Shukla</b></h5>
                                <p class="card-text">
                                  This is another card with title and supporting text below. This card has some
                                  additional content to make it slightly taller overall. This is another card with title
                                  and supporting text below. This card has some additional content to make it slightly
                                  taller overall.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                            <div class="card" style="background-color:#ffffff; color:black;">
                              <div class="card-body" style="padding: 10px;">
                                <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                                <h5 class="card-title" style="margin-bottom: 5px;"><b>Shri Shukla</b></h5>
                                <p class="card-text">
                                  This is another card with title and supporting text below. This card has some
                                  additional content to make it slightly taller overall. This is another card with title
                                  and supporting text below. This card has some additional content to make it slightly
                                  taller overall.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                            <div class="card" style="background-color:#ffffff; color:black;">
                              <div class="card-body" style="padding: 10px;">
                                <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                                <h5 class="card-title" style="margin-bottom: 5px;"><b>Angle Viston</b></h5>
                                <p class="card-text">
                                  This is another card with title and supporting text below. This card has some
                                  additional content to make it slightly taller overall. This is another card with title
                                  and supporting text below. This card has some additional content to make it slightly
                                  taller overall.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                            <div class="card" style="background-color:black; color:#ffffff;">
                              <div class="card-body" style="padding: 10px;">
                                <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                                <h5 class="card-title" style="margin-bottom: 5px;">
                                  <b>Merry Cluster</b>
                                </h5>
                                <p class="card-text">
                                  This is another card with title and supporting text below. This card has some
                                  additional content to make it slightly taller overall. This is another card with title
                                  and supporting text below. This card has some additional content to make it slightly
                                  taller overall.
                                </p>
                              </div>
                            </div>
                          </div>
                          <br><br>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item card" style="padding: 5px;">
                      <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionIconTwo">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                          data-bs-target="#accordionIcon-2" aria-controls="accordionIcon-2" aria-expanded="false">
                          <!-- <b>Shri Shukla</b> -->
                          <b style="color: dimgray; font-size:20px;">20-02-2023 / <u
                              style="color:#ff7700;">@shoppingsite</u></b>
                        </button>
                      </h2>
                      <div id="accordionIcon-2" class="accordion-collapse collapse" data-bs-parent="#accordionIcon"
                        style="background-color: #1d242e;">
                        <div class="accordion-body">
                          <br><br>
                          <span class="badge" style="float: right; font-size: 15px; color: white;">
                            <div class="col-md-5">
                              <select id="language" class="select2 form-select"
                                style="background-color:#11191c; width:100px; border-color: #283848;">
                                <!-- <option value="">Select Project</option> -->
                                <option value="report" selected="">All</option>
                                <option value="report">Reports</option>
                                <option value="message">Message</option>
                              </select>
                            </div>
                          </span>
                          <h4 class="fw-bold py-3 mb-12"><span class="text-muted fw-light">Project Manager : </span>
                            Shivashu Shukla
                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center"
                              style="padding-left:0;">
                              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                class="avatar avatar-xs pull-up" title="" data-bs-original-title="Shivashu Shukla">
                                <img src="/_static/otherapps/img/avatars/shivashushukla.jpg" alt="Avatar"
                                  class="rounded-circle">
                              </li>
                              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                class="avatar avatar-xs pull-up" title="" data-bs-original-title="Shri Shukla">
                                <img src="/_static/otherapps/img/avatars/shrishukla.jpg" alt="Avatar"
                                  class="rounded-circle">
                              </li>
                              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                class="avatar avatar-xs pull-up" title="" data-bs-original-title="Angle Viston">
                                <img src="/_static/otherapps/img/avatars/angleviston.jpg" alt="Avatar"
                                  class="rounded-circle">
                              </li>
                              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                class="avatar avatar-xs pull-up" title="" data-bs-original-title="Merry Cluster">
                                <img src="/_static/otherapps/img/avatars/merrycluster.jpg" alt="Avatar"
                                  class="rounded-circle">
                              </li>
                            </ul>
                          </h4>
                          <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                            <div class="card" style="background-color:#ffffff; color:black;">
                              <div class="card-body" style="padding: 10px;">
                                <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                                <h5 class="card-title" style="margin-bottom: 5px;"><b>Shivam Shukla</b></h5>
                                <p class="card-text">
                                  This is another card with title and supporting text below. This card has some
                                  additional content to make it slightly taller overall. This is another card with title
                                  and supporting text below. This card has some additional content to make it slightly
                                  taller overall.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                            <div class="card" style="background-color:#ffffff; color:black;">
                              <div class="card-body" style="padding: 10px;">
                                <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                                <h5 class="card-title" style="margin-bottom: 5px;"><b>Shri Shukla</b></h5>
                                <p class="card-text">
                                  This is another card with title and supporting text below. This card has some
                                  additional content to make it slightly taller overall. This is another card with title
                                  and supporting text below. This card has some additional content to make it slightly
                                  taller overall.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                            <div class="card" style="background-color:#ffffff; color:black;">
                              <div class="card-body" style="padding: 10px;">
                                <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                                <h5 class="card-title" style="margin-bottom: 5px;"><b>Angle Viston</b></h5>
                                <p class="card-text">
                                  This is another card with title and supporting text below. This card has some
                                  additional content to make it slightly taller overall. This is another card with title
                                  and supporting text below. This card has some additional content to make it slightly
                                  taller overall.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                            <div class="card" style="background-color:black; color:#ffffff;">
                              <div class="card-body" style="padding: 10px;">
                                <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                                <h5 class="card-title" style="margin-bottom: 5px;">
                                  <b>Merry Cluster</b>
                                </h5>
                                <p class="card-text">
                                  This is another card with title and supporting text below. This card has some
                                  additional content to make it slightly taller overall. This is another card with title
                                  and supporting text below. This card has some additional content to make it slightly
                                  taller overall.
                                </p>
                              </div>
                            </div>
                          </div>
                          <br><br>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item card" style="padding: 5px;">
                      <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionIconThree">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                          data-bs-target="#accordionIcon-3" aria-expanded="false" aria-controls="accordionIcon-3">
                          <!-- <b>Shivashu Shukla</b> -->
                          <b style="color: dimgray; font-size:20px;">20-02-2023 / <u
                              style="color:#ff7700;">@schoolmanagement</u></b>
                        </button>
                      </h2>
                      <div id="accordionIcon-3" class="accordion-collapse collapse" data-bs-parent="#accordionIcon"
                        style="background-color: #1d242e;">
                        <div class="accordion-body">
                          <br><br>
                          <span class="badge" style="float: right; font-size: 15px; color: white;">
                            <div class="col-md-5">
                              <select id="language" class="select2 form-select"
                                style="background-color:#11191c; width:100px; border-color: #283848;">
                                <!-- <option value="">Select Project</option> -->
                                <option value="report" selected="">All</option>
                                <option value="report">Reports</option>
                                <option value="message">Message</option>
                              </select>
                            </div>
                          </span>
                          <h4 class="fw-bold py-3 mb-12"><span class="text-muted fw-light">Project Manager : </span>
                            Shivashu Shukla
                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center"
                              style="padding-left:0;">
                              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                class="avatar avatar-xs pull-up" title="" data-bs-original-title="Shivashu Shukla">
                                <img src="/_static/otherapps/img/avatars/shivashushukla.jpg" alt="Avatar"
                                  class="rounded-circle">
                              </li>
                              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                class="avatar avatar-xs pull-up" title="" data-bs-original-title="Shri Shukla">
                                <img src="/_static/otherapps/img/avatars/shrishukla.jpg" alt="Avatar"
                                  class="rounded-circle">
                              </li>
                              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                class="avatar avatar-xs pull-up" title="" data-bs-original-title="Angle Viston">
                                <img src="/_static/otherapps/img/avatars/angleviston.jpg" alt="Avatar"
                                  class="rounded-circle">
                              </li>
                              <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                class="avatar avatar-xs pull-up" title="" data-bs-original-title="Merry Cluster">
                                <img src="/_static/otherapps/img/avatars/merrycluster.jpg" alt="Avatar"
                                  class="rounded-circle">
                              </li>
                            </ul>
                          </h4>
                          <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                            <div class="card" style="background-color:#ffffff; color:black;">
                              <div class="card-body" style="padding: 10px;">
                                <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                                <h5 class="card-title" style="margin-bottom: 5px;"><b>Shivam Shukla</b></h5>
                                <p class="card-text">
                                  This is another card with title and supporting text below. This card has some
                                  additional content to make it slightly taller overall. This is another card with title
                                  and supporting text below. This card has some additional content to make it slightly
                                  taller overall.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                            <div class="card" style="background-color:#ffffff; color:black;">
                              <div class="card-body" style="padding: 10px;">
                                <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                                <h5 class="card-title" style="margin-bottom: 5px;"><b>Shri Shukla</b></h5>
                                <p class="card-text">
                                  This is another card with title and supporting text below. This card has some
                                  additional content to make it slightly taller overall. This is another card with title
                                  and supporting text below. This card has some additional content to make it slightly
                                  taller overall.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                            <div class="card" style="background-color:#ffffff; color:black;">
                              <div class="card-body" style="padding: 10px;">
                                <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                                <h5 class="card-title" style="margin-bottom: 5px;"><b>Angle Viston</b></h5>
                                <p class="card-text">
                                  This is another card with title and supporting text below. This card has some
                                  additional content to make it slightly taller overall. This is another card with title
                                  and supporting text below. This card has some additional content to make it slightly
                                  taller overall.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                            <div class="card" style="background-color:black; color:#ffffff;">
                              <div class="card-body" style="padding: 10px;">
                                <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                                <h5 class="card-title" style="margin-bottom: 5px;">
                                  <b>Merry Cluster</b>
                                </h5>
                                <p class="card-text">
                                  This is another card with title and supporting text below. This card has some
                                  additional content to make it slightly taller overall. This is another card with title
                                  and supporting text below. This card has some additional content to make it slightly
                                  taller overall.
                                </p>
                              </div>
                            </div>
                          </div>
                          <br><br>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item card" style="padding: 5px;">
                      <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionIconFour">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                          data-bs-target="#accordionIcon-4" aria-controls="accordionIcon-4" aria-expanded="false">
                          <!-- <b>Shrivashu Shukla</b> -->
                          <b style="color: dimgray; font-size:20px;">20-02-2023 / <u
                              style="color:#ff7700;">@portfoliosite</u></b>
                        </button>
                      </h2>
                      <div id="accordionIcon-4" class="accordion-collapse collapse" data-bs-parent="#accordionIcon"
                        style="background-color: #1d242e;">
                        <div class="accordion-body">
                          <div class="accordion-body">
                            <br><br>
                            <span class="badge" style="float: right; font-size: 15px; color: white;">
                              <div class="col-md-5">
                                <select id="language" class="select2 form-select"
                                  style="background-color:#11191c; width:100px; border-color: #283848;">
                                  <!-- <option value="">Select Project</option> -->
                                  <option value="report" selected="">All</option>
                                  <option value="report">Reports</option>
                                  <option value="message">Message</option>
                                </select>
                              </div>
                            </span>
                            <h4 class="fw-bold py-3 mb-12"><span class="text-muted fw-light">Project Manager : </span>
                              Shivashu Shukla
                              <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center"
                                style="padding-left:0;">
                                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                  class="avatar avatar-xs pull-up" title="" data-bs-original-title="Shivashu Shukla">
                                  <img src="/_static/otherapps/img/avatars/shivashushukla.jpg" alt="Avatar"
                                    class="rounded-circle">
                                </li>
                                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                  class="avatar avatar-xs pull-up" title="" data-bs-original-title="Shri Shukla">
                                  <img src="/_static/otherapps/img/avatars/shrishukla.jpg" alt="Avatar"
                                    class="rounded-circle">
                                </li>
                                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                  class="avatar avatar-xs pull-up" title="" data-bs-original-title="Angle Viston">
                                  <img src="/_static/otherapps/img/avatars/angleviston.jpg" alt="Avatar"
                                    class="rounded-circle">
                                </li>
                                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                  class="avatar avatar-xs pull-up" title="" data-bs-original-title="Merry Cluster">
                                  <img src="/_static/otherapps/img/avatars/merrycluster.jpg" alt="Avatar"
                                    class="rounded-circle">
                                </li>
                              </ul>
                            </h4>
                            <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                              <div class="card" style="background-color:#ffffff; color:black;">
                                <div class="card-body" style="padding: 10px;">
                                  <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                                  <h5 class="card-title" style="margin-bottom: 5px;"><b>Shivam Shukla</b></h5>
                                  <p class="card-text">
                                    This is another card with title and supporting text below. This card has some
                                    additional content to make it slightly taller overall. This is another card with
                                    title and supporting text below. This card has some additional content to make it
                                    slightly taller overall.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                              <div class="card" style="background-color:#ffffff; color:black;">
                                <div class="card-body" style="padding: 10px;">
                                  <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                                  <h5 class="card-title" style="margin-bottom: 5px;"><b>Shri Shukla</b></h5>
                                  <p class="card-text">
                                    This is another card with title and supporting text below. This card has some
                                    additional content to make it slightly taller overall. This is another card with
                                    title and supporting text below. This card has some additional content to make it
                                    slightly taller overall.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                              <div class="card" style="background-color:#ffffff; color:black;">
                                <div class="card-body" style="padding: 10px;">
                                  <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                                  <h5 class="card-title" style="margin-bottom: 5px;"><b>Angle Viston</b></h5>
                                  <p class="card-text">
                                    This is another card with title and supporting text below. This card has some
                                    additional content to make it slightly taller overall. This is another card with
                                    title and supporting text below. This card has some additional content to make it
                                    slightly taller overall.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                              <div class="card" style="background-color:black; color:#ffffff;">
                                <div class="card-body" style="padding: 10px;">
                                  <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                                  <h5 class="card-title" style="margin-bottom: 5px;">
                                    <b>Merry Cluster</b>
                                  </h5>
                                  <p class="card-text">
                                    This is another card with title and supporting text below. This card has some
                                    additional content to make it slightly taller overall. This is another card with
                                    title and supporting text below. This card has some additional content to make it
                                    slightly taller overall.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <br><br>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
              </div>
            </form>
          </div>
          <!-- /Account -->
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}