{% extends 'otherapps/developer/master.html' %}

{% block tcontent %}
CRM - Developer
{% endblock %}




{% block childcontent %}



          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms /</span> Input groups</h4>
              <div class="row">
                <!-- Basic -->
                <div class="col-md-12">
                  <div class="card mb-4">
                    <h4 class="card-header"><b>Reports Selection</b></h4>
                    <!-- Account -->
                    <hr class="my-0">
                    <div class="card-body" style="background-color: #1d242e;">
                      <form id="formAccountSettings" method="POST" onsubmit="return false">
                                <div class="row">
                                  <div class="col-md">
                                    <div id="accordionIcon" class="accordion mt-3 accordion-without-arrow">
                                      <div class="card-body" style="padding-top:0">
                                        <div class="row gx-3 gy-2 align-items-center">
                                          <div class="col-md-5">
                                            <label class="form-label" for="selectTypeOpt">Date:</label>
                                            <input class="form-control" type="date" id="html5-date-input" value="2023-01-20">
                                          </div>
                                          <div class="col-md-5">
                                            <label class="form-label" for="selectPlacement">Project's</label>
                                            <select id="language" class="select2 form-select">
                                                    <!-- <option value="">Select Language</option> -->
                                                    <option value="">Select Project</option>
                                                    <option value="projectcrm" selected="">Project CRM</option>
                                                    <option value="shoppingsite">Shopping Site</option>
                                                    <option value="schoolmanagement">School Management</option>
                                                    <option value="portfoliosite">Portfolio Site</option>
                                            </select>
                                          </div>
                                          <div class="col-md-2">
                                            <label class="form-label" for="showToastPlacement">&nbsp;</label>
                                            <button id="showToastPlacement" class="btn btn-primary d-block">Done</button>
                                          </div>
                                        </div>
                                      </div>
                                      <br><br>
                                      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">20-01-2023  /</span> @projectcrm </h4>
                                      <div class="accordion-item card">
                                        <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionIconOne">
                                          <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionIcon-1" aria-controls="accordionIcon-1" aria-expanded="false">
                                            <b>Shivam Shukla</b>
                                          </button>
                                        </h2>         
                                        <div id="accordionIcon-1" class="accordion-collapse collapse" data-bs-parent="#accordionIcon" style="">
                                          <div class="accordion-body">
                                              Oat cake toffee chocolate bar jujubes. Marshmallow brownie lemon drops cheesecake. Bonbon
                                              gingerbread marshmallow sweet jelly beans muffin. Sweet roll bear claw candy canes oat cake
                                              dragée caramels. Ice cream wafer danish cookie caramels muffin.
                                          </div>
                                        </div>
                                      </div>
          
                                      <div class="accordion-item card">
                                        <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionIconTwo">
                                          <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionIcon-2" aria-controls="accordionIcon-2" aria-expanded="false">
                                            <b>Shri Shukla</b>
                                          </button>
                                        </h2>
                                        <div id="accordionIcon-2" class="accordion-collapse collapse" data-bs-parent="#accordionIcon">
                                          <div class="accordion-body">
                                            Dessert ice cream donut oat cake jelly-o pie sugar plum cheesecake. Bear claw dragée oat cake
                                            dragée ice cream halvah tootsie roll. Danish cake oat cake pie macaroon tart donut gummies.
                                            Jelly beans candy canes carrot cake. Fruitcake chocolate chupa chups.
                                          </div>
                                        </div>
                                      </div>
                    
                                      <div class="accordion-item card">
                                        <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionIconThree">
                                          <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionIcon-3" aria-expanded="false" aria-controls="accordionIcon-3">
                                            <b>Shivashu Shukla</b>
                                          </button>
                                        </h2>
                                        <div id="accordionIcon-3" class="accordion-collapse collapse" data-bs-parent="#accordionIcon" style="">
                                          <div class="accordion-body">
                                            Oat cake toffee chocolate bar jujubes. Marshmallow brownie lemon drops cheesecake. Bonbon
                                            gingerbread marshmallow sweet jelly beans muffin. Sweet roll bear claw candy canes oat cake
                                            dragée caramels. Ice cream wafer danish cookie caramels muffin.
                                          </div>
                                        </div>
                                      </div>
          
                                      <div class="accordion-item card">
                                        <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionIconOne">
                                          <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionIcon-4" aria-controls="accordionIcon-4" aria-expanded="false">
                                            <b>Shrivashu Shukla</b>
                                          </button>
                                        </h2>         
                                        <div id="accordionIcon-4" class="accordion-collapse collapse" data-bs-parent="#accordionIcon" style="">
                                          <div class="accordion-body">
                                              Oat cake toffee chocolate bar jujubes. Marshmallow brownie lemon drops cheesecake. Bonbon
                                              gingerbread marshmallow sweet jelly beans muffin. Sweet roll bear claw candy canes oat cake
                                              dragée caramels. Ice cream wafer danish cookie caramels muffin.
                                          </div>
                                        </div>
                                      </div>
          
                                   </div>
                                    <br>
                                    <br>
                                  </div>
                                </div>
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>
                </div>
              </div>
            </div>
          </div>



{% endblock %}






