{% extends 'otherapps/hr/master.html' %}

{% block tcontent %}
CRM - HR - All Project Requests
{% endblock %}




{% block childcontent %}

<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <span class="badge" style="float: right; font-size: 15px; color: white;">
      <a href="/projectdetails/" class="btn" style="color: white;">
        <i class='bx bx-message-square-add bx-md'></i>
        Assign New
      </a>
    </span>
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">UI Elements /</span> Cards Basic</h4>
    <!-- <h6 class="pb-1 mb-4 text-muted">Header and footer</h6> -->
    <br>
    <br>



    <!-- <div class="row mb-5"> -->
    <div class="row mb-5" style="--bs-gutter-y: 15px;">

      {% for value in values %}
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <!-- <span class="primary" style="float: right; top:50%;">2 days ago.</span> -->
            <h5 style="margin-bottom: 0;"><b>by {{value.duplicate.ClientsFullName}}.</b></h5>
          </div>
          <div class="card-body">
            <div>
              <!-- <span class="primary" style="float: right; top:50%;">2 days ago.</span> -->
              <h5 class="card-title" style="color:white">{{value.original.ProjectName}}</h5>
            </div>
            <p class="card-text">
              {{value.original.SoftDiscription}}
            </p>
            <div>
              <a href="/projectdetails/{{value.original.ProjectSlug}}-{{value.original.id}}"
                class="btn btn-primary">Edit / Add More</a>
              <!-- <small class="text-muted">Last updated 3 mins ago.</small> -->
              <span class="primary" style="float: right; top:50%;"><br>{{value.original.JoiningDate}}</span>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!--/ Content types -->
  </div>
  <!-- / Content -->
  <div class="content-backdrop fade"></div>
</div>


{% endblock %}