{% extends 'otherapps/hr/master.html' %}

{% block tcontent %}
CRM - HR - Connections
{% endblock %}




{% block childcontent %}

<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms /</span> Input groups</h4>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
          <li class="nav-item">
            <a class="nav-link" href="/hr/myaccount/"><i class="bx bx-user me-1"></i> Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/hr/mynotification/"><i class="bx bx-bell me-1"></i> Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/hr/myconnections/"><i class="bx bx-link-alt me-1"></i> Connections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/hr/mydeactivate/"><i class="bx bx-message-square-x"></i> Deactivate</a>
          </li>
        </ul>
        <div class="row">
          <div class="col-md-4 col-12 mb-md-0 mb-4">
            <div class="card" style="height: 100%;">
              <h5 class="card-header"><b>Connected Accounts</b></h5>
              <div class="card-body" style="padding-top: 20px;">
                <p>Display content from your connected accounts on your site</p>
                <!-- Connections -->
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img src="/_static/otherapps/img/icons/brands/google.png" alt="google" class="me-3" height="30">
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-9 mb-sm-0 mb-2">
                      <h6 class="mb-0">Google</h6>
                      <small class="text-muted">Calendar and contacts</small>
                    </div>
                    <div class="col-3 text-end">
                      <div class="form-check form-switch">
                        <input class="form-check-input float-end" type="checkbox" role="switch" checked="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img src="/_static/otherapps/img/icons/brands/amazon.png" alt="slack" class="me-3" height="30">
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-9 mb-sm-0 mb-2">
                      <h6 class="mb-0">Amazon</h6>
                      <small class="text-muted">Shopping Related</small>
                    </div>
                    <div class="col-3 text-end">
                      <div class="form-check form-switch">
                        <input class="form-check-input float-end" type="checkbox" role="switch" checked="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img src="/_static/otherapps/img/icons/brands/aws.png" alt="github" class="me-3" height="30">
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-9 mb-sm-0 mb-2">
                      <h6 class="mb-0">AWS</h6>
                      <small class="text-muted">Amazon Web Services</small>
                    </div>
                    <div class="col-3 text-end">
                      <div class="form-check form-switch">
                        <input class="form-check-input float-end" type="checkbox" role="switch" checked="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img src="/_static/otherapps/img/icons/brands/mailchimp.png" alt="mailchimp" class="me-3"
                      height="30">
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-9 mb-sm-0 mb-2">
                      <h6 class="mb-0">Mailchimp</h6>
                      <small class="text-muted">Email marketing service</small>
                    </div>
                    <div class="col-3 text-end">
                      <div class="form-check form-switch">
                        <input class="form-check-input float-end" type="checkbox" role="switch">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <img src="/_static/otherapps/img/icons/brands/whatsapp.png" alt="asana" class="me-3" height="30">
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-9 mb-sm-0 mb-2">
                      <h6 class="mb-0">Whatsapp</h6>
                      <small class="text-muted">Communication</small>
                    </div>
                    <div class="col-3 text-end">
                      <div class="form-check form-switch">
                        <input class="form-check-input float-end" type="checkbox" role="switch" checked="">
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /Connections -->
              </div>
            </div>
          </div>

          <div class="col-md-4 col-12">
            <div class="card" style="height: 100%;">
              <h5 class="card-header"><b>Social Accounts</b></h5>
              <div class="card-body" style="padding-top: 20px;">
                <p>Display content from social media accounts on your profile site</p>
                <!-- Social Accounts -->
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img src="/_static/otherapps/img/icons/brands/twitter.png" alt="twitter" class="me-3" height="30">
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                      <h6 class="mb-0">Twitter</h6>
                      <a href="https://twitter.com/theshivashu07" target="_blank">@theshivashu07</a>
                    </div>
                    <div class="col-4 col-sm-5 text-end">
                      <button type="button" class="btn btn-icon btn-outline-danger">
                        <i class="bx bx-trash-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img src="/_static/otherapps/img/icons/brands/instagram.png" alt="instagram" class="me-3"
                      height="30">
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                      <h6 class="mb-0">instagram</h6>
                      <a href="https://www.instagram.com/theshivashu07/" target="_blank">@theshivashu07</a>
                    </div>
                    <div class="col-4 col-sm-5 text-end">
                      <button type="button" class="btn btn-icon btn-outline-danger">
                        <i class="bx bx-trash-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img src="/_static/otherapps/img/icons/brands/facebook.png" alt="facebook" class="me-3" height="30">
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                      <h6 class="mb-0">Facebook</h6>
                      <a href="https://www.facebook.com/theshivashu07" target="_blank">@theshivashu07</a>
                      <!-- <small class="text-muted">Not Connected</small> -->
                    </div>
                    <div class="col-4 col-sm-5 text-end">
                      <button type="button" class="btn btn-icon btn-outline-danger">
                        <i class="bx bx-trash-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img src="/_static/otherapps/img/icons/brands/telegram.png" alt="telegram" class="me-3" height="30">
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                      <h6 class="mb-0">Telegram</h6>
                      <small class="text-muted">Not Connected</small>
                    </div>
                    <div class="col-4 col-sm-5 text-end">
                      <button type="button" class="btn btn-icon btn-outline-secondary">
                        <i class="bx bx-link-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- /Social Accounts -->
              </div>
            </div>
          </div>



          <div class="col-md-4 col-12">
            <div class="card" style="height: 100%;">
              <h5 class="card-header"><b>Study Accounts</b></h5>
              <div class="card-body" style="padding-top: 20px;">
                <p>Display content from social media accounts on your study profile site</p>
                <!-- Study Accounts -->
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img src="/_static/otherapps/img/icons/brands/linkedin.png" alt="linkedin" class="me-3" height="30">
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                      <h6 class="mb-0">LinkedIN</h6>
                      <a href="https://www.linkedin.com/in/theshivashu07/" target="_blank">@theshivashu07</a>
                      <!-- <small class="text-muted">Not Connected</small> -->
                    </div>
                    <div class="col-4 col-sm-5 text-end">
                      <button type="button" class="btn btn-icon btn-outline-danger">
                        <i class="bx bx-trash-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img src="/_static/otherapps/img/icons/brands/github.png" alt="github" class="me-3" height="30">
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                      <h6 class="mb-0">GitHub</h6>
                      <a href="https://github.com/theshivashu07" target="_blank">@theshivashu07</a>
                      <!-- <small class="text-muted">Not Connected</small> -->
                    </div>
                    <div class="col-4 col-sm-5 text-end">
                      <button type="button" class="btn btn-icon btn-outline-danger">
                        <i class="bx bx-trash-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img src="/_static/otherapps/img/icons/brands/discord.png" alt="discord" class="me-3" height="30">
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                      <h6 class="mb-0">Discord</h6>
                      <a href="https://discord.com/channels/@me" target="_blank">@theshivashu07</a>
                      <!-- <small class="text-muted">Not Connected</small> -->
                    </div>
                    <div class="col-4 col-sm-5 text-end">
                      <button type="button" class="btn btn-icon btn-outline-danger">
                        <i class="bx bx-trash-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img src="/_static/otherapps/img/icons/brands/geeksforgeeks.png" alt="twitter" class="me-3"
                      height="30">
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                      <h6 class="mb-0">GeeksForGeeks</h6>
                      <a href="https://auth.geeksforgeeks.org/user/theshivashu07" target="_blank">@theshivashu07</a>
                    </div>
                    <div class="col-4 col-sm-5 text-end">
                      <button type="button" class="btn btn-icon btn-outline-danger">
                        <i class="bx bx-trash-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="d-flex mb-3">
                  <div class="flex-shrink-0">
                    <img src="/_static/otherapps/img/icons/brands/leetcode.png" alt="leetcode" class="me-3" height="30">
                  </div>
                  <div class="flex-grow-1 row">
                    <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                      <h6 class="mb-0">Leetcode</h6>
                      <a href="https://leetcode.com/theshivashu07/" target="_blank">@theshivashu07</a>
                    </div>
                    <div class="col-4 col-sm-5 text-end">
                      <button type="button" class="btn btn-icon btn-outline-danger">
                        <i class="bx bx-trash-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- /Study Accounts -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}