{% extends 'otherapps/hr/master.html' %}

{% block tcontent %}
CRM - HR - Project Details
{% endblock %}




{% block childcontent %}




    <div class="content-wrapper">
        <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms /</span> Input groups</h4>
            <div class="row">
            	<!-- Basic -->
                <div class="col-md-12">
                  	<div class="card mb-4">
                    	<h5 class="card-header"><b>Profile Details</b></h5>
                    	<!-- Account -->
                    	<hr class="my-0">
                    	<div class="card-body">
                            <form id="formAccountSettings" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                        		<div class="row">
                    	    		<h4 class="fw-bold" style="margin-top:25px; margin-bottom:20px;"><span class="text-muted fw-light">Details about /</span> New Joiner </h4>
                            		<div class="mb-3 col-md-3">
                                		<label for="firstname" class="form-label">First Name</label>
                                		<input class="form-control" type="text" id="firstname" name="firstname" value="{{values.FirstName}}" placeholder="Shivam" autofocus="" required>
                            		</div>
                            		<div class="mb-3 col-md-3">
                                		<label for="lastname" class="form-label">Last Name</label>
                                		<input class="form-control" type="text" id="lastname" name="lastname" value="{{values.LastName}}" placeholder="Shukla" required>
                            		</div>
                            		<div class="mb-3 col-md-3">
                                		<label for="emailid" class="form-label">E-mail</label>
                                		<input class="form-control" type="email" id="emailid" name="emailid" value="{{values.EmailId}}" placeholder="theshivashu07@google.com" required>
                            		</div>
                            		<div class="mb-3 col-md-3">
                                		<label class="form-label" for="mobileno">Phone Number</label>
                                		<div class="input-group input-group-merge">
                                			<span class="input-group-text">IND (+91)</span>
                                			<input type="number" id="mobileno" name="mobileno" class="form-control" placeholder="789856xxxx" value="{{values.MobileNo}}" style="padding-left: 10px;" required>
                              			</div>
                          			</div>
                          			<div class="mb-3 col-md-6">
                              			<label for="address" class="form-label">Address</label>
                              			<input type="text" class="form-control" id="address" name="address" placeholder="Teori, Katni, Madhya Pradesh, India." value="{{values.Address}}" required>
                          			</div>
                          			<div class="mb-3 col-md-3">
                              			<label for="state" class="form-label">State</label>
                              			<input class="form-control" type="text" id="state" name="state" placeholder="Madhya Pradesh" value="{{values.State}}" required>
                          			</div>
                          			<div class="mb-3 col-md-3">
                              			<label class="form-label" for="country">Country</label>
                              			<select name="country" class="select2 form-select" required>
                                  			<!-- <option value="">Select</option> -->
                                  			<option value="India" {%if values.As == 'India' %}  selected {%endif%}>India</option>
                                  			<option value="China" {%if values.As == 'China' %}  selected {%endif%}>China</option>
                                  			<option value="France" {%if values.As == 'France' %}  selected {%endif%}>France</option>
                                  			<option value="Germany" {%if values.As == 'Germany' %}  selected {%endif%}>Germany</option>
                                  			<!-- <option value="India" {%if values.As == 'Developer' %}  selected {%endif%}>India</option> -->
                                  			<option value="Russia" {%if values.As == 'Russia' %}  selected {%endif%}>Russian Federation</option>
                                  			<option value="Ukraine" {%if values.As == 'Ukraine' %}  selected {%endif%}>Ukraine</option>
                                  			<option value="United Kingdom" {%if values.As == 'United Kingdom' %}  selected {%endif%}>United Kingdom</option>
                                  			<option value="United States" {%if values.As == 'United States' %}  selected {%endif%}>United States</option>
                              			</select>
                                    <br>
                          			</div>
                                    <hr class="my-0">
                    	  			<!-- <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Details about /</span> New Joiner</h4> --> 
                    	  			<h4 class="fw-bold" style="margin-top:25px; margin-bottom:20px;"><span class="text-muted fw-light">Details about new joiner /</span> At Company</h4>
                                    <div class="mb-3 col-md-5">
                                        <div class="row">
                                            <div class="mb-3 col-md-5">
                                                <label class="form-label" for="company">Company</label>
                                                <input type="text" id="company" name="company" class="form-control" placeholder="" value="Google" readonly>
                                            </div>
                                            <div class="mb-3 col-md-4">
                                                <label for="employmentid" class="form-label">Employment ID</label>
                                                <input class="form-control" type="text" id="employmentid" name="employmentid" placeholder="" value="googleswe1011" readonly>
                                                <!-- <input class="form-control" type="text" id="employmentid" name="employmentid" placeholder="Generating..." value="{{values.EmploymentID}}" readonly> -->
                                            </div>
                                            <div class="mb-3 col-md-3">
                                                <label class="form-label" for="level">Level</label>
                                                <input type="number" id="level" name="level" class="form-control" placeholder="1" value="{{values.Level}}" required>
                                            </div>
                                        </div>
                                    </div>
                          			<div class="mb-3 col-md-7">
                              			<label for="officelocation" class="form-label">Joining Office Location</label>
                              			<input class="form-control" type="text" id="officelocation" name="officelocation" placeholder="No. 3, Old Madras Rd, Sadanandanagar, Bennigana Halli, Bengaluru, Karnataka 560016" value="{{values.OfficeLocation}}" required>
                          			</div>
                                    <div class="mb-3 col-md-5">
                                        <div class="row">
                                            <div class="mb-3 col-md-5">
                                                <label class="form-label" for="role">Role</label>
                                                <select name="role" class="select2 form-select" required>
                                                    <!-- <option value="">Select Option</option> -->
                                                    <option value="Developer" {%if values.As == 'Developer' %}  selected {%endif%}>@developer</option>
                                                    <option value="Project Manager" {%if values.As == 'Project Manager' %}  selected {%endif%}>@projectmanager</option>
                                                    <option value="Admin" {%if values.As == 'Admin' %}  selected {%endif%}>@admin</option>
                                                </select>
                                            </div>
                                            <div class="mb-3 col-md-7">
                                                <label class="form-label" for="as">As</label>
                                                <select name="as" class="select2 form-select" required>
                                                    <!-- <option value="">Select Option</option> -->
                                                    <option value="Software Development Engineer" {%if values.As == 'Software Development Engineer' %}  selected {%endif%}>Software Development Engineer</option>
                                                    <option value="Full Stack Web Developer"{%if values.As == 'Full Stack Web Developer' %}  selected {%endif%}>Full Stack Web Developer</option>
                                                    <option value="Data Analyst"{%if values.As == 'Data Analyst' %} selected {%endif%}>Data Analyst</option>
                                                    <option value="Software Engineer"{%if values.As == 'Software Engineer' %} selected {%endif%}>Software Engineer</option>
                                                    <option value="Frontend Engineer"{%if values.As == 'Frontend Engineer' %} selected {%endif%}>Frontend Engineer</option>
                                                    <option value="Backend Engineer"{%if values.As == 'Backend Engineer' %} selected {%endif%}>Backend Engineer</option>
                                                    <option value="Database Engineer"{%if values.As == 'Database Engineer' %} selected {%endif%}>Database Engineer</option>
                                                    <option value="Software Developer"{%if values.As == 'Software Developer' %} selected {%endif%}>Software Developer</option>
                                                    <option value="Frontend Developer"{%if values.As == 'Frontend Developer' %} selected {%endif%}>Frontend Developer</option>
                                                    <option value="Backend Developer"{%if values.As == 'Backend Developer' %} selected {%endif%}>Backend Developer</option>
                                                    <option value="Database Developer"{%if values.As == 'Database Developer' %} selected {%endif%}>Database Developer</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                            		<div class="mb-3 col-md-7">
                                		<label for="sittingarea" class="form-label">Your Exect Sitting Area in your office!!</label>
                                		<input class="form-control" type="text" id="sittingarea" name="sittingarea" placeholder="Building No. 03, Floor No. 07, Room No. 05, Table No. 15, Seet No. 03." value="{{values.SittingArea}}" required>
                            		</div>
                            		<div class="mb-3 col-md-5">
                                        <div class="row">
                                          <!-- first three places -->
                                          <div class="mb-3 col-md-5">
                                            <label for="joiningbeginningdate" class="form-label">Joining (Beginning Date)</label>
                                            <!-- <input class="form-control" type="date" id="html5-date-input"  value="{{values.BeginningDate |date:'M d, Y'}}"  name="joiningbeginningdate"  > -->
                                            <!-- <input class="form-control" type="date" id="html5-date-input"  value="{{values.JoiningBeginningDate|date:'Y-m-d'}}" name="joiningbeginningdate" required> -->
                                            <input class="form-control" type="date" id="html5-date-input"  value="{{values.JoiningBeginningDate}}" name="joiningbeginningdate" required>
                                          </div>
                                          <div class="mb-3 col-md-2">
                                            <br><br>
                                            <center><i class='bx bx-transfer bx-spin bx-sm' ></i></center>
                                          </div>
                                          <div class="mb-3 col-md-5">
                                            <label for="joiningendingdate" class="form-label">Joining (Ending Date)</label>
                                            <!-- <input class="form-control" type="date" id="html5-date-input"  value="{{values.EndingDate |date:'M d, Y'}}"  name="joiningendingdate"  > -->
                                            <!-- <input class="form-control" type="date" id="html5-date-input"  value="{{values.JoiningEndingDate|date:'Y-m-d'}}" name="joiningendingdate" required> -->
                                            <input class="form-control" type="date" id="html5-date-input"  value="{{values.JoiningEndingDate}}" name="joiningendingdate" required>
                                          </div>
                                          <!-- first three places -->
                                        </div>
                                        <div class="row">
                                            <!-- first three places -->
                                            <div class="mb-3 col-md-7">
                                                <label class="form-label" for="salary">Salary (in LPA)</label>
                                                <div class="input-group">
                                                    <span class="input-group-text">In Rupees</span>
                                                    <input type="text" class="form-control" id="salary" name="salary" placeholder="4,500,000" value="{{values.Salary}}" required>
                                                    <span class="input-group-text">.00</span>
                                                </div>
                                            </div>
                                            <div class="mb-3 col-md-5">
                                                <label class="form-label" for="contract">Contract (in years)</label>
                                                <input type="text" id="contract" name="contract" class="form-control" placeholder="2 years" value="{{values.Contract}}" required>
                                            </div>
                                        </div>
                          			</div>
                          			<div class="mb-3 col-md-7">
                              			<label for="ctc" class="form-label">CTC (brief Discription)</label>
                              			<textarea class="form-control" name="ctc" style="height:120px" rows="4" required>{{values.CTC}}</textarea>
                              			<div id="defaultFormControlHelp" class="form-text">
                              	  			Here is you briefly describe exactly how many components we adding in employee's package. <b>All descriptions are here.....</b>
                              			</div>
                          			</div>
                      			</div> 

                            <div class="mt-3">
                                <!-- Button trigger modal -->
                                <label for="firstName" class="form-label"><b>Generate Username and Password:</b></label> <br>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter" style="background-color: #1d242e;">
                                  Generate 
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="modalCenter" tabindex="-1" style="display: none;" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header" style="background-color: white;">
                                              <h5 class="modal-title" id="modalCenterTitle"><b>Generate Username and Password<b></h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <div class="modal-body">
                                          <div class="row">
                                            <div class="col mb-3">
                                              <label for="nameWithTitle" class="form-label">Generate Username</label>
                                              <span class="badge badge-center rounded-pill" style="float: right; background-color: #099099;"><i class='tf-icons bx bxs-check-shield'></i></span>
                                              <span class="badge badge-center rounded-pill" style="float: right; background-color: green;"><i class='tf-icons bx bxs-check-shield'></i></span>
                                              <span class="badge badge-center rounded-pill" style="float: right; background-color: red;"><i class='tf-icons bx bxs-shield-x'></i></span>
                                              <div class="input-group">
                                                <span class="input-group-text" id="basic-addon11">@</span>
                                                <input type="text" class="form-control" placeholder="Enter Username" name="username" aria-label="username" autofocus="" aria-describedby="basic-addon11" required>
                                                <span class="input-group-text" id="basic-addon11" style="background-color:white;">
                                                <span class="badge badge-center rounded-pill" style="background-color: #099099;"><i class='tf-icons bx bxs-check-shield' ></i></span>
                                                <!-- <span class="badge badge-center rounded-pill" style="background-color: green;"><i class='tf-icons bx bxs-check-shield' ></i></span> -->
                                                <!-- <span class="badge badge-center rounded-pill" style="background-color: red;"><i class='tf-icons bx bxs-shield-x' ></i></span> -->
                                                </span>
                                              </div>
                                              <div id="defaultFormControlHelp" class="form-text">
                                                If this username allocated for else one, then no one able to get this!!
                                                <!-- <b style="color:red">This username allocated for No-One</b> -->
                                                <!-- <b style="color:green">This username allocated for No-One</b> -->
                                              </div>
                                              <div id="defaultFormControlHelp" class="form-text">
                                              </div>
                                            </div>
                                          </div>              
                                          <div class="row g-2">
                                            <div class="form-password-toggle col mb-0">
                                          <label class="form-label" for="basic-default-password12">Generate Password</label> 
                                          <div class="input-group">
                                              <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" aria-describedby="basic-default-password2" required>
                                              <span id="basic-default-password2" class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                          </div>
                                        </div>  
                                            <div class="form-password-toggle col mb-0">
                                          <label class="form-label" for="basic-default-password12">Password Again</label>
                                          <div class="input-group">
                                              <input type="password" class="form-control" id="againpassword" name="againpassword" placeholder="Again Enter Password" aria-describedby="basic-default-password2" required>
                                              <span id="basic-default-password2" class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                          </div>
                                        </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                              Close
                                            </button>
                                            <button href="/recruitments/" type="submit" class="btn btn-primary">Save All Data</button>
                                            <!-- <button type="button" class="btn btn-primary">Save All Data</button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          	</form>
                      	</div>
                        <!-- /Account -->
                    </div>
                </div>
            	<!-- /Basic -->
            </div>
        </div>
    </div>






{% endblock %}






