{% extends 'otherapps/hr/master.html' %}

{% block tcontent %}
CRM - HR - Project Details
{% endblock %}




{% block childcontent %}

<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms /</span> Input groups</h4>
    <div class="row">
      <!-- Basic -->

      <div class="col-md-12">
        <div class="card mb-4">
          <h5 class="card-header"><b>Profile Details</b></h5>
          <!-- Account -->
          <hr class="my-0">
          <div class="card-body">
            <form id="formAccountSettings" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- <form method="post" action="projectsoftdetails" onsubmit="return false" enctype="multipart/form-data"> -->
              <input type="hidden" id="clientID" name="clientID" value="{{clientID}}">
              <input type="hidden" id="projectID" name="projectID" value="{{values.id}}">
              <input type="hidden" id="prevPATH" name="prevPATH" value="{{prevPATH}}">
              <div class="row">
                <!-- <div class="mb-3 col-md-1">
                            <label for="projectname" class="form-label">Client ID</label>
                            <input class="form-control" type="number" id="clientID" name="clientID"  value="00{{values.Client}}"  autofocus="" readonly>
                          </div>
                          <div class="mb-3 col-md-7">
                            <label for="projectname" class="form-label">New Project Name</label>
                            <input class="form-control" type="text" id="projectname" name="projectname" value="{{values.ProjectName}}" placeholder="Project CRM" autofocus=""  >
                          </div>  -->
                <div class="mb-3 col-md-7">
                  <label for="projectname" class="form-label">New Project Name</label>
                  <input class="form-control" type="text" id="projectname" name="projectname"
                    value="{{values.ProjectName}}" placeholder="Project CRM" autofocus="">
                </div>
                <div class="mb-3 col-md-5">
                    <label for="admin" class="form-label">ADMIN Name</label>
                    {% if adminslist and values.Admin %}
                      <select name="admin" class="select2 form-select">
                          <option value="" {%if values.AdminsFullName == 'None' %} selected {%endif%}>Select
                              Admin</option>
                          {% for adminsset in adminslist%}
                          <option value="{{adminsset.id}}" {%if values.Admin == adminsset.id %} selected {%endif%}>{{adminsset.FullName}}</option>
                          {% endfor %}
                      </select>
                    {% else %}
                      <input class="form-control" type="text" id="assignto" name="assignto" value="{{values.Admin}}"
                    placeholder="None" autofocus="" readonly>
                    {% endif %}
                </div>
                <div class="mb-3 col-md-3">
                  <label for="programminglanguage" class="form-label">Programming Language</label>
                  <select name="programminglanguage" class="select2 form-select">
                    <option value="None" {%if values.ProgrammingLanguage == 'None' %} selected {%endif%}>Select Language
                    </option>
                    <option value="C" {%if values.ProgrammingLanguage == 'C' %} selected {%endif%}>C</option>
                    <option value="C++" {%if values.ProgrammingLanguage == 'C++' %} selected {%endif%}>C++</option>
                    <option value="Java" {%if values.ProgrammingLanguage == 'Java' %} selected {%endif%}>Java</option>
                    <option value="Python" {%if values.ProgrammingLanguage == 'Python' %} selected {%endif%}>Python
                    </option>
                    <option value="C#" {%if values.ProgrammingLanguage == 'C#' %} selected {%endif%}>C#</option>
                    <option value="Go" {%if values.ProgrammingLanguage == 'Go' %} selected {%endif%}>Go</option>
                    <option value="Swift" {%if values.ProgrammingLanguage == 'Swift' %} selected {%endif%}>Swift</option>
                    <option value="Kotlin" {%if values.ProgrammingLanguage == 'Kotlin' %} selected {%endif%}>Kotlin
                    </option>
                    <option value="PHP" {%if values.ProgrammingLanguage == 'PHP' %} selected {%endif%}>PHP</option>
                    <option value="JavaScript" {%if values.ProgrammingLanguage == 'JavaScript' %} selected {%endif%}>
                      JavaScript</option>
                    <option value="Other" {%if values.ProgrammingLanguage == 'Other' %} selected {%endif%}>Other</option>
                  </select>
                  <div id="defaultFormControlHelp" class="form-text">
                    Here put the main <b>'programming language'</b>.
                  </div>
                </div>
                <div class="mb-3 col-md-3">
                  <label for="frontend" class="form-label">Front-End</label>
                  <select name="frontend" class="select2 form-select">
                    <option value="None" {%if values.FrontEnd  == 'None' %} selected {%endif%}>Select Language</option>
                    <option value="Basic" {%if values.FrontEnd == 'Basic' %} selected {%endif%}>Simple</option>
                    <option value="ReactJS" {%if values.FrontEnd == 'ReactJS' %} selected {%endif%}>ReactJs</option>
                    <option value="Angular" {%if values.FrontEnd == 'Angular' %} selected {%endif%}>Angular</option>
                    <option value="JQuery" {%if values.FrontEnd == 'JQuery' %} selected {%endif%}>JQuery</option>
                    <option value="Other" {%if values.FrontEnd == 'Other' %} selected {%endif%}>Other</option>
                  </select>
                  <div id="defaultFormControlHelp" class="form-text">
                    Here <b>'simple'</b> means <b>'html, css and js'</b> languages.
                  </div>
                </div>
                <div class="mb-3 col-md-3">
                  <label for="backend" class="form-label">Back-End</label>
                  <select name="backend" class="select2 form-select">
                    <option value="None" {%if values.BackEnd == 'None' %} selected {%endif%}>Select Language</option>
                    <option value="Django" {%if values.BackEnd == 'Django' %} selected {%endif%}>Django</option>
                    <option value="ExpressJS" {%if values.BackEnd == 'ExpressJS' %} selected {%endif%}>Express JS</option>
                    <option value="SpringBoot" {%if values.BackEnd == 'SpringBoot' %} selected {%endif%}>Spring Boot
                    </option>
                    <option value="Flask" {%if values.BackEnd == 'Flask' %} selected {%endif%}>Flask</option>
                    <option value="PHP" {%if values.BackEnd == 'PHP' %} selected {%endif%}>PHP</option>
                    <option value="ASP.Net" {%if values.BackEnd == 'ASP.Net' %} selected {%endif%}>ASP.Net</option>
                    <option value="Other" {%if values.BackEnd == 'Other' %} selected {%endif%}>Other</option>
                  </select>
                </div>
                <div class="mb-3 col-md-3">
                  <label for="database" class="form-label">Database</label>
                  <select name="database" class="select2 form-select">
                    <!-- <option value="{{location_.id}}" {% if emp.location_id == location_.id %} selected {% endif %}>{{location_.name}}</option> -->
                    <option value="None" {%if values.DataBase == 'None' %} selected {%endif%}>Select Language</option>
                    <option value="MongoDB" {%if values.DataBase == 'MongoDB' %} selected {%endif%}><b>MongoDB:</b> No-SQL
                      Database</option>
                    <option value="MySQL" {%if values.DataBase == 'MySQL' %} selected {%endif%}><b>MySQL:</b> SQL Database
                    </option>
                    <option value="Oracle" {%if values.DataBase == 'Oracle' %} selected {%endif%}><b>Oracle:</b> SQL
                      Database</option>
                    <option value="SQLite" {%if values.DataBase == 'SQLite' %} selected {%endif%}><b>SQLite:</b> SQL
                      Database</option>
                    <option value="Other_SQL" {%if values.DataBase == 'Other_SQL' %} selected {%endif%}><b>Other:</b> SQL
                      Database</option>
                    <option value="Other_NoSQL" {%if values.DataBase == 'Other_NoSQL' %} selected {%endif%}><b>Other:</b>
                      No-SQL Database</option>
                  </select>
                </div>
                <div class="mb-3 col-md-7">
                  <label for="exampleFormControlTextarea1" class="form-label">Soft Discription</label>
                  <textarea class="form-control" id="softdiscription" name="softdiscription" style="height:120px"
                    rows="4" value="">{{values.SoftDiscription}}</textarea>
                  <div id="defaultFormControlHelp" class="form-text">
                    Here is you briefly describe exactly what features you want on your project. And <b>describe
                      everything.....</b>
                  </div>
                </div>
                <div class="mb-3 col-md-5">
                  <div class="row">
                    <!-- first three places -->
                    <div class="mb-3 col-md-5">
                      <label for="state" class="form-label">Beginning Date</label>
                      <!-- <input class="form-control" type="date" id="html5-date-input"  value="{{values.BeginningDate |date:'M d, Y'}}"  name="beginningdate"  > -->
                      <input class="form-control" type="date" id="html5-date-input"
                        value="{{values.BeginningDate |date:'Y-m-d'}}" name="beginningdate">
                    </div>
                    <div class="mb-3 col-md-2">
                      <br><br>
                      <center><i class='bx bx-transfer bx-spin bx-sm'></i></center>
                    </div>
                    <div class="mb-3 col-md-5">
                      <label for="state" class="form-label">Ending Date</label>
                      <!-- <input class="form-control" type="date" id="html5-date-input"  value="{{values.EndingDate |date:'M d, Y'}}"  name="beginningdate"  > -->
                      <input class="form-control" type="date" id="html5-date-input"
                        value="{{values.EndingDate |date:'Y-m-d'}}" name="endingdate">
                    </div>
                    <!-- first three places -->
                  </div>
                  <div class="mb-3">
                    <label for="firstName" class="form-label">Assign your budget ammount, at max!!</label>
                    <div class="input-group">
                      <span class="input-group-text">In Rupees.</span>
                      <input type="number" class="form-control" placeholder="Starting Amount"
                        value="{{values.StartingAmount}}" name="startingamount">
                      <span class="input-group-text" style="color:#ffffff">to</span>
                      <input type="number" class="form-control" placeholder="Ending Amount"
                        value="{{values.EndingAmount}}" name="endingamount">
                      <!-- <span class="input-group-text">.00</span> -->
                    </div>
                  </div>
                </div>
                <div class="mt-2">
                  <!-- <button href="/clientdetails/" type="submit" class="btn btn-primary me-2">Save changes</button> -->
                  <button type="submit" class="btn btn-primary me-2">Save changes</button>
                  <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                </div>
              </div>
            </form>
          </div>
          <!-- /Account -->
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}