{% extends 'otherapps/hr/master.html' %}

{% block tcontent %}
CRM - HR - Chatting Ideas
{% endblock %}




{% block childcontent %}

          <div class="content-wrapper">
            <!-- Content --><div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">UI Elements /</span> Cards Basic</h4>


              <!-- Masonry -->
              <h6 class="pb-1 mb-4 text-muted">For Chating Views</h6>
              <div class="row">
                <div class="col-sm-6 col-lg-4 mb-4">
                  <div class="card p-3">
                    <figure class="p-3 mb-0">
                      <blockquote class="blockquote">
                        <p>A well-known quote, contained in a blockquote element.</p>
                      </blockquote>
                      <figcaption class="blockquote-footer mb-0 text-muted">
                        Someone famous in <cite title="Source Title">Source Title</cite>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ Card layout -->
            </div>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
          </div>


{% endblock %}





