{% extends 'otherapps/projectmanager/master.html' %}

{% block tcontent %}
CRM - Project Manager
{% endblock %}




{% block childcontent %}

<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <!-- <span class="badge" style="float: right; font-size: 15px; color: white;">
                <a href="/projectsoftdetails" class="btn" style="color: white;">
                  <i class='bx bx-message-square-add bx-md'></i>
                  Assign New
                </a>
              </span> -->
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">UI Elements /</span> Cards Basic</h4>
    <!-- <h6 class="pb-1 mb-4 text-muted">Header and footer</h6> -->
    <br>
    <br>
    <div class="row mb-5" style="--bs-gutter-y: 15px;">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <!-- <span class="primary" style="float: right; top:50%;">2 days ago.</span> -->
            <h5 style="margin-bottom: 0;"><b>by Shivam Shukla.</b></h5>
          </div>
          <div class="card-body">
            <div>
              <!-- <span class="primary" style="float: right; top:50%;">2 days ago.</span> -->
              <h5 class="card-title" style="color:white">CRM-Project</h5>
            </div>
            <p class="card-text">
              Hello HR, I have to make a website very soon, so please reply me very quickly. Thank You.
            </p>
            <div>
              <a href="/projectsoftdetails" class="btn btn-primary">Edit / Add More</a>
              <!-- <small class="text-muted">Last updated 3 mins ago.</small> -->
              <span class="primary" style="float: right; top:50%;"><br>7 minutes ago.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <!-- <span class="primary" style="float: right; top:50%;">2 days ago.</span> -->
            <h5 style="margin-bottom: 0;"><b>by Shivam Shukla.</b></h5>
          </div>
          <div class="card-body">
            <div>
              <!-- <span class="primary" style="float: right; top:50%;">2 days ago.</span> -->
              <h5 class="card-title" style="color:white">Coding Website</h5>
            </div>
            <p class="card-text">
              Hello HR, I have to make a website very soon, so please reply me very quickly. Thank You.
            </p>
            <div>
              <a href="/projectsoftdetails" class="btn btn-primary">Edit / Add More</a>
              <!-- <small class="text-muted">Last updated 3 mins ago.</small> -->
              <span class="primary" style="float: right; top:50%;"><br>A day ago.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <!-- <span class="primary" style="float: right; top:50%;">2 days ago.</span> -->
            <h5 style="margin-bottom: 0;"><b>by Shri Shukla.</b></h5>
          </div>
          <div class="card-body">
            <div>
              <!-- <span class="primary" style="float: right; top:50%;">2 days ago.</span> -->
              <h5 class="card-title" style="color:white">Donation Site</h5>
            </div>
            <p class="card-text">
              Hello HR, I have to make a website very soon, so please reply me very quickly. Thank You.
            </p>
            <div>
              <a href="/projectsoftdetails" class="btn btn-primary">Edit / Add More</a>
              <!-- <small class="text-muted">Last updated 3 mins ago.</small> -->
              <span class="primary" style="float: right; top:50%;"><br>7 days ago.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <!-- <span class="primary" style="float: right; top:50%;">2 days ago.</span> -->
            <h5 style="margin-bottom: 0; "><b>by Rahul Dubey.</b></h5>
          </div>
          <div class="card-body">
            <div>
              <!-- <span class="primary" style="float: right; top:50%;">2 days ago.</span> -->
              <h5 class="card-title" style="color:white">Portfolio Site!!</h5>
            </div>
            <p class="card-text">
              Hello HR, I have to make a website very soon, so please reply me very quickly. Thank You.
            </p>
            <div>
              <a href="/projectsoftdetails" class="btn btn-primary">Edit / Add More</a>
              <!-- <small class="text-muted">Last updated 3 mins ago.</small> -->
              <span class="primary" style="float: right; top:50%;"><br>7 months ago.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <!-- <span class="primary" style="float: right; top:50%;">2 days ago.</span> -->
            <h5 style="margin-bottom: 0;"><b>by Raj Mishra</b></h5>
          </div>
          <div class="card-body">
            <div>
              <!-- <span class="primary" style="float: right; top:50%;">2 days ago.</span> -->
              <h5 class="card-title" style="color:white">School Management</h5>
            </div>
            <p class="card-text">
              Hello HR, I have to make a website very soon, so please reply me very quickly. Thank You.
            </p>
            <div>
              <a href="/projectsoftdetails" class="btn btn-primary">Edit / Add More</a>
              <!-- <small class="text-muted">Last updated 3 mins ago.</small> -->
              <span class="primary" style="float: right; top:50%;"><br>2 year ago.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ Content types -->
  </div>
  <!-- / Content -->
  <div class="content-backdrop fade"></div>
</div>


{% endblock %}