{% extends 'otherapps/projectmanager/master.html' %}

{% block tcontent %}
CRM - Project Manager
{% endblock %}




{% block childcontent %}
<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms /</span> Input groups</h4>
    <div class="row">
      <!-- Basic -->
      <div class="col-md-12">
        <!-- <div class="card mb-4"> -->
          <!-- Account -->
          <div class="card-body" style="background-color: #1d242e; border-radius:4px">
            <div id="accordionIcon" class="accordion mt-3 accordion-without-arrow">
              <h4 class="fw-bold mb-12">#{{ values|length }}'tasks<span class="text-muted fw-light"> are panding here...</span>
              </h4>
            </div>
            <hr class="my-0">
            <hr class="my-0">
            <hr class="my-0">
            <br>
            <br>
            <br>
            <br>
            {% for value in values %}
                <form id="formAccountSettings" method="POST">
                {% csrf_token %}
                  <input type="hidden" id="thistasksID" name="thistasksID" value="{{value.id}}">
                  <div class="card mb-12" style="backgsround-color:white">
                      <h4 class="fw-bold py-3 mb-12" style="font-size:15px; margin: 0px; margin-left: 10px;">

                      <span class="badge" style="float: right; font-size:15px; color:white; padding:0px; padding-right: 10px;">
                        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center" style="padding-left:0;">
                          {% for task in tasks %}
                            <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up rounded-circle" style="list-style-type: none; width:1.40rem;" title="" data-bs-original-title="{{task.ContentData}} — {{task.SendingDateTime.date}}">
                              <i class="bx bxs-shield bx-sm" style="color:{%if task.TaskStatus%}#288288{%else%}red{%endif%};"></i>
                            </li>
                          {% endfor %}
                        </ul>
                      </span>
                        <!-- <li style="list-style-type: none;"> -->
                          <i class="bx bx-task bx-sm" style="padding-right:5px;"></i>
                          {{value.ProjectID.ProjectName}} — {{ value.SendingDateTime }}
                        <!-- </li> -->
                      </h4>
                        <textarea class="form-control" aria-label="With textarea" name="contentdata" style="height:111px; border-radius: 0px; color:lightgray;" readonly>{{value.ContentData}}</textarea>
                        <textarea class="form-control" aria-label="With textarea" placeholder="Enter your feedback/message..." name="message" style="height:20px; border-top-left-radius: 0px; color:#3333ff" >{{value.GitHubLink}}</textarea>
                        {% if value.OptionalMSG %}
                          <textarea class="form-control" aria-label="With textarea" name="contentdata" style="height:30px; border-radius: 0px; background-color:#3a4a5a; font-style: italic;" readonly>{{value.OptionalMSG}}</textarea>
                        {% endif %}
                      <div class="input-group">
                        <!-- <button  type="submit"  class="btn btn-primary" style="background-color: #2c3c4c; border-top-right-radius:0px; padding-left:25px; padding-right:10px;"> 
                          <i class="bx bxs-chevrons-left bx-sm bx-fade-left"></i>
                          Re-Assigned
                        </button> -->
                        <button  href="/" class="btn btn-primary" style="background-color: #2c3c4c; border-top-right-radius:0px; padding-left:25px; padding-right:10px;"> 
                          <i class="bx bxs-chevrons-left bx-sm bx-fade-left"></i>
                          Re-Assigned
                        </button>
                        <textarea class="form-control" aria-label="With textarea" placeholder="Enter your feedback/message..." name="message" style="height:20px; border-top-left-radius: 0px; background-color:white; color: blue;" ></textarea>
                        <button href="/" class="btn btn-primary" style="background-color: #2c3c4c; border-top-right-radius:0px; padding-left:10px; padding-right:25px;"> 
                          Accept
                          <i class="bx bxs-chevrons-right bx-sm bx-fade-right"></i>
                        </button>
                        <!-- <button type="submit"  class="btn btn-primary" style="background-color: #2c3c4c; border-top-right-radius:0px; padding-left:10px; padding-right:25px;"> 
                          Accept
                          <i class="bx bxs-chevrons-right bx-sm bx-fade-right"></i>
                        </button> -->
                      </div>
                  </div>
                </form>
                <br>
            {% endfor %}

            <br>
            <br>
          </div>
        </div>
      <!-- /Account -->
    </div>
  </div>
</div>



{% endblock %}