{% extends 'otherapps/projectmanager/master.html' %}

{% block tcontent %}
CRM - Project Manager
{% endblock %}




{% block childcontent %}



<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms /</span> Input groups</h4>
    <div class="row">
      <!-- Basic -->
      <div class="col-md-12">
        <div class="card mb-4">
          <h4 class="card-header"><b>Reports Selection</b></h4>
          <!-- Account -->
          <hr class="my-0">
          <div class="card-body" style="background-color: #1d242e;">
            <form id="formAccountSettings" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-md">
                  <div id="accordionIcon" class="accordion mt-3 accordion-without-arrow">
                    <!-- <div class="card-body" style="padding-top:0"> -->
                      <div class="row gx-3 gy-2 align-items-center">
                        <div class="col-md-5">
                          <label class="form-label" for="selectTypeOpt">Date:</label>
                          <input class="form-control" type="datetime-local" id="html5-date-input" value="{{selected.SelectedDate}}" name="selecteddate">
                          <!-- <input class="form-control" type="date" id="html5-date-input" value="{{selected.SelectedDate|date:'Y-m-d'}}" name="selecteddate" required> -->
                        </div>
                        <div class="col-md-5">
                          <label class="form-label" for="selectPlacement">Project's:</label>
                          <select id="projectid" name="projectid" class="select2 form-select">
                          <!-- <select id="projectid" name="projectid" class="select2 form-select" required> -->
                            <option value="" selected="">Select Project</option>
                            {% for value in values %}
                              <option value="{{value.id}}" {% if selected.ProjectID == value.id %} selected {%endif%}> {{value.ProjectName}} </option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="col-md-2">
                          <label class="form-label" for="showToastPlacement">&nbsp;</label>
                          <button id="showToastPlacement" class="btn btn-primary d-block">Done</button>
                        </div>
                      </div>
                    <!-- </div> -->
                    <h4 class="fw-bold py-3 mb-4">
                      <!-- <button type="button" class="btn btn-dark">Dark</button> -->
                      <span class="btn btn-{%if selected.SelectedDate%}success{%else%}danger{%endif%}">{{selected.SelectedDate|default:None}}</span>
                      <span class="btn btn-{%if selected.ProjectName%}success{%else%}danger{%endif%}">{{selected.ProjectName|default:None}}</span>
                    </h4>
                  {% for querydataset in QueryDataSets %}
                    <!-- <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> 20-01-2023 / </span> None </h4> -->
                    <div class="accordion-item card" style="padding: 5px;">
                      <h2 class="accordion-header text-body d-flex justify-content-between" id="accordionIconOne">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                          data-bs-target="#accordionIcon-{{forloop.counter}}" aria-controls="accordionIcon-{{forloop.counter}}" aria-expanded="false">
                          <!-- <b>Shivam Shukla</b> -->
                          <b style="color: dimgray; font-size:20px;">{{ querydataset.detailsSet.Date|date:'Y-m-d'}}  /<u style="color:#ff7700;">@{{ querydataset.detailsSet.ProjectUsername }} </u></b>
                          <!-- <b style="color: dimgray; font-size:20px;">{{ querydataset.detailsSet.Date |date:'d-m-Y'}}  /<u style="color:#ff7700;">@{{ querydataset.detailsSet.ProjectUsername }} </u></b> -->
                        </button>
                      </h2>
                      <div id="accordionIcon-{{forloop.counter}}" class="accordion-collapse collapse" data-bs-parent="#accordionIcon"
                        style="background-color: #1d242e;">
                        <div class="accordion-body">
                          <br><br>
                          <span class="badge" style="float: right; font-size: 15px; color: white;">
                            <div class="col-md-5">
                              <select id="language" class="select2 form-select"
                                style="background-color:#11191c; width:150px; border-color: #283848;">
                                <!-- <option value="">Select Project</option> -->
                                <option value="pm">Project Manager</option>
                                <option value="report" selected="">All</option>
                                <option value="report">Reports</option>
                                <option value="message">Message</option>
                              </select>
                            </div>
                          </span>
                        <h4 class="fw-bold py-3 mb-12"><span class="text-muted fw-light">{{ querydataset.detailsSet.Date|date:'Y-m-d'}}  /</span> @{{ querydataset.detailsSet.ProjectUsername }} 
                        <!-- <h4 class="fw-bold py-3 mb-12"><span class="text-muted fw-light">{{ querydataset.detailsSet.Date |date:'d-m-Y'}}  /</span> @{{ querydataset.detailsSet.ProjectUsername }}  -->
                        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center" style="padding-left:0">
                          {% for detail in querydataset.detailsSet.PMnDevs%}
                            <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="" data-bs-original-title="{{detail.id}}-{{detail.FullName}}">
                              <img src="/_uploads/{{detail.ProfilePick|default:'employee/user.png'}}" alt="Avatar" class="rounded-circle">
                            </li>
                          {% endfor %}
                        </ul> 
                      </h4>

                      {% for value in querydataset.values %}
                        <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                          {% if value.WhatIsIt == 'Report' %}
                            <div class="card" style="background-color:#ffffff; color:black;">
                          {% else %}
                            <div class="card" style="background-color:black; color:#ffffff;">
                          {% endif %}
                            <div class="card-body" style="padding: 10px;">
                              <span class="primary" style="float: right;color: gray;">—  {{value.SendingDateTime|time:"g:i A"}}</span>
                              <h5 class="card-title" style="margin-bottom: 5px;">
                                <b>{{value.SenderID.FullName}} ({{value.SenderID.Role}})</b>
                              </h5>
                              <p class="card-text">
                                {{value.ContentData}}
                              </p>
                            </div>
                          </div>
                        </div>
                      {% endfor %}

                          <br><br>
                        </div>
                      </div>
                    </div>
                    {% endfor %}

                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
                </div>
              </div>
            </form>
          </div>
          <!-- /Account -->
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}