{% extends 'otherapps/projectmanager/master.html' %}

{% block tcontent %}
CRM - Project Manager
{% endblock %}



{% block childcontent %}
<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms /</span> Input groups</h4>
    <div class="row">
      <!-- Basic -->
      <div class="col-md-12">
        <div class="card mb-4">
          <h4 class="card-header"><b>Reports Selection</b></h4>
          <!-- Account -->
          <hr class="my-0">
          <div class="card-body" style="background-color: #1d242e;">
            <form id="formAccountSettings" method="POST" onsubmit="return false">
              <div class="row">
                <div class="col-md">
                  <div id="accordionIcon" class="accordion mt-3 accordion-without-arrow">


                    <span class="badge" style="float: right; font-size: 15px; color: white;">
                      <div class="col-md-5">
                        <select id="language" class="select2 form-select"
                          style="background-color:#11191c; width:150px; border-color: #283848;">
                          <!-- <option value="">Select Project</option> -->
                          <option value="pm">Project Manager</option>
                          <option value="report" selected="">All</option>
                          <option value="report">Reports</option>
                          <option value="message">Message</option>
                        </select>
                      </div>
                    </span>
                    <h4 class="fw-bold py-3 mb-12"><span class="text-muted fw-light">Project Manager : </span> Shivashu
                      Shukla
                      <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center"
                        style="padding-left:0;">
                        <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                          class="avatar avatar-xs pull-up" title="" data-bs-original-title="Shivashu Shukla">
                          <img src="/_static/otherapps/img/avatars/shivashushukla.jpg" alt="Avatar"
                            class="rounded-circle">
                        </li>
                        <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                          class="avatar avatar-xs pull-up" title="" data-bs-original-title="Shri Shukla">
                          <img src="/_static/otherapps/img/avatars/shrishukla.jpg" alt="Avatar" class="rounded-circle">
                        </li>
                        <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                          class="avatar avatar-xs pull-up" title="" data-bs-original-title="Angle Viston">
                          <img src="/_static/otherapps/img/avatars/angleviston.jpg" alt="Avatar" class="rounded-circle">
                        </li>
                        <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                          class="avatar avatar-xs pull-up" title="" data-bs-original-title="Merry Cluster">
                          <img src="/_static/otherapps/img/avatars/merrycluster.jpg" alt="Avatar"
                            class="rounded-circle">
                        </li>
                      </ul>
                    </h4>

                    <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                      <div class="card" style="background-color:#ffffff; color:black;">
                        <div class="card-body" style="padding: 10px;">
                          <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                          <h5 class="card-title" style="margin-bottom: 5px;"><b>Shivam Shukla</b></h5>
                          <p class="card-text">
                            This is another card with title and supporting text below. This card has some additional
                            content to make it slightly taller overall. This is another card with title and supporting
                            text below. This card has some additional content to make it slightly taller overall.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                      <div class="card" style="background-color:#ffffff; color:black;">
                        <div class="card-body" style="padding: 10px;">
                          <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                          <h5 class="card-title" style="margin-bottom: 5px;"><b>Shri Shukla</b></h5>
                          <p class="card-text">
                            This is another card with title and supporting text below. This card has some additional
                            content to make it slightly taller overall. This is another card with title and supporting
                            text below. This card has some additional content to make it slightly taller overall.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                      <div class="card" style="background-color:#ffffff; color:black;">
                        <div class="card-body" style="padding: 10px;">
                          <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                          <h5 class="card-title" style="margin-bottom: 5px;"><b>Angle Viston</b></h5>
                          <p class="card-text">
                            This is another card with title and supporting text below. This card has some additional
                            content to make it slightly taller overall. This is another card with title and supporting
                            text below. This card has some additional content to make it slightly taller overall.
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12" style="padding: 2px; margin-right:25%;">
                      <div class="card" style="background-color:black; color:#ffffff;">
                        <div class="card-body" style="padding: 10px;">
                          <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                          <h5 class="card-title" style="margin-bottom: 5px;">
                            <b>Merry Cluster</b>
                          </h5>
                          <p class="card-text">
                            This is another card with title and supporting text below. This card has some additional
                            content to make it slightly taller overall. This is another card with title and supporting
                            text below. This card has some additional content to make it slightly taller overall.
                          </p>
                        </div>
                      </div>
                    </div>

                  </div>
                  <br>
                  <br>
                  <br>
                </div>
              </div>
            </form>
          </div>
          <!-- /Account -->
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}