{% extends 'otherapps/client/master.html' %}

{% block tcontent %}
CRM - Client - All Projects
{% endblock %}




{% block childcontent %}

<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">UI elements /</span> Modals</h4>
    <!-- Bootstrap modals --><div class="card mb-4">
    <div class="card mb-4">
      <div class="card-body">
        <!-- <div class="row" style="--bs-gutter-x: 0px; --bs-gutter-y: 0px;"> -->
        <div class="row" style="--bs-gutter-x: 0px; --bs-gutter-y: 0px;">
          <!-- Basic List group -->
          <!-- <div class="col-lg-3" style="height:700px; padding:0; margin: 0; overflow: auto; --bs-gutter-x: 0px; --bs-gutter-y: 0px;"> -->
          <div class="col-lg-3 " style="height:700px; padding:0; margin: 0; overflow: auto;">
            <div class="demo-inline-spacing" style="margin:0 0 0 0;">
              <div class="list-group align-items-center">
                <a class="list-group-item list-group-item-action align-items-center" style="background-color:#ff5500; height:76px; margin-top:-16px; margin-bottom:2px">
                  <img src="/_static/otherapps/img/avatars/@theshivashu07.jpg" alt="Avatar" class="rounded-circle" style="height:50px; width: 50px; margin-right: 10px; border: 2px solid #fff;">
                  <b style="color: white;">Shivam Shukla</b>
                </a>
                <a href="javascript:void(0);" class="list-group-item list-group-item-action align-items-center active">
                  <b>Project CRM</b>
                </a>
                <a href="javascript:void(0);" class="list-group-item list-group-item-action align-items-center">
                  <b style="font-size: 15px;">Shopping Site</b>
                  <span class="badge badge-center rounded-pill" style="float: right; background-color: #30dd30;">3</span>
                </a>
                <a href="javascript:void(0);" class="list-group-item list-group-item-action align-items-center">
                  <b style="font-size: 15px;">School Management</b>
                  <span class="badge badge-center rounded-pill" style="float: right; background-color: #30dd30;">5</span>
                </a>
                <a href="javascript:void(0);" class="list-group-item list-group-item-action align-items-center">
                  <b style="font-size: 15px;">Portfolio Site</b>
                  <span class="badge badge-center rounded-pill" style="float: right; background-color: #30dd30;">7</span>
                </a>
              </div>
            </div>
          </div>
          <!--/ Custom content with heading -->
          <div class="col-sm-9" style="height:700px; padding:0;">
            <div class="modal-content" style="height: 100%; margin: 0 0 0 0;">
              <h5 class="card-header" style="background-color:#0099ff; padding: 15px;">
                <span class="primary" style="float: right; color: white; ">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                      <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                      <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="javascript:void(0);">Separated link</a></li>
                    </ul>
                  </div>
                </span>
                <b style="color: white;">Project CRM</b>
                <br>
                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                  <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="" data-bs-original-title="Lilian Fuller">
                    <img src="/_static/otherapps/img/avatars/5.png" alt="Avatar" class="rounded-circle">
                  </li>
                  <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="" data-bs-original-title="Sophia Wilkerson">
                    <img src="/_static/otherapps/img/avatars/6.png" alt="Avatar" class="rounded-circle">
                  </li>
                  <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="" data-bs-original-title="Christina Parker">
                    <img src="/_static/otherapps/img/avatars/7.png" alt="Avatar" class="rounded-circle">
                  </li>
                </ul>
              </h5>
              <div class="modal-body" style="overflow: auto;">
                <!-- whatsapp special massage -->
                <div class="col-sm-10" style="padding: 2px; margin-right:8.33%; margin-left: 8.33%;">
                  <div class="card" style="background-color:#07807559; color:black; padding: 5px; margin-top: -18px; margin-bottom: 15px;">
                    <!-- <small class="text-muted" style="float: right; top:50%;">Last updated 3 mins ago</small> -->
                    <!-- <h5 class="card-title">Card title</h5> -->
                    <div class="col-sm-12">
                      <i class="bx bxs-lock-alt bx-xs" heigh=""></i>
                      <small style="font-size:10px;">
                        WhatsApp uses end-to-end encryption, which means nobody except the sender and recipient can read
                        messages. Other chat apps like Facebook Messenger and Telegram don't use end-to-end encryption
                        by default. Is WhatsApp encrypted? Yes, all chats on the platform are encrypted by default.
                      </small>
                    </div>
                  </div>
                </div>
                <!-- chatting -->
                <div class="col-sm-9" style="padding: 2px; margin-right:25%;">
                  <div class="card" style="background-color:#ffffff; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 11:22 PM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>Shri Shukla</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-left:25%;">
                  <div class="card" style="background-color:#fff999f9; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 11:23 PM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>You</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-right:25%;">
                  <div class="card" style="background-color: #ffffff; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 11:23 PM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>Shivashu Shukla</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-right:25%;">
                  <div class="card" style="background-color: #ffffff; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 11:24 PM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>Shri Shukla</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-right:25%;">
                  <div class="card" style="background-color: #ffffff; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 11:25 PM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>Shri Shukla</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-left:25%;">
                  <div class="card" style="background-color:#fff999f9; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 11:34 PM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>You</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-right:25%;">
                  <div class="card" style="background-color: #ffffff; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 11:35 PM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>Vashu Shukla</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-right:25%;">
                  <div class="card" style="background-color: #ffffff; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 11:35 PM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>Shri Shukla</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-left:25%;">
                  <div class="card" style="background-color:#fff999f9; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 11:58 PM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>You</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-right:25%;">
                  <div class="card" style="background-color: #ffffff; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 11:58 PM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>Shri Shukla</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-left:25%;">
                  <div class="card" style="background-color:#fff999f9; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 11:59 PM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>You</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-right:25%;">
                  <div class="card" style="background-color: #ffffff; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 12:00 AM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>Shri Shukla</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-right:25%;">
                  <div class="card" style="background-color: #ffffff; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 12:02 AM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>Vashu Shukla</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-right:25%;">
                  <div class="card" style="background-color: #ffffff; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 12:04 AM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>Shri Shukla</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-right:25%;">
                  <div class="card" style="background-color: #ffffff; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 12:04 AM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>Shrivashu Shukla</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-right:25%;">
                  <div class="card" style="background-color: #ffffff; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 12:05 AM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>Vashu Shukla</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-right:25%;">
                  <div class="card" style="background-color: #ffffff; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 12:06 AM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>Shri Shukla</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-right:25%;">
                  <div class="card" style="background-color: #ffffff; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 12:08 AM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>Shri Shukla</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-left:25%;">
                  <div class="card" style="background-color:#fff999f9; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 12:08 PM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>You</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-right:25%;">
                  <div class="card" style="background-color: #ffffff; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 12:10 AM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>Vashu Shukla</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-right:25%;">
                  <div class="card" style="background-color: #ffffff; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 12:11 AM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>Shri Shukla</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-right:25%;">
                  <div class="card" style="background-color: #ffffff; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 12:11 AM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>Shri Shukla</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-left:25%;">
                  <div class="card" style="background-color:#fff999f9; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 12:12 PM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>You</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-right:25%;">
                  <div class="card" style="background-color: #ffffff; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 12:12 AM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>Shri Shukla</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-9" style="padding: 2px; margin-left:25%;">
                  <div class="card" style="background-color:#fff999f9; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float: right;color: gray;">— 12:12 PM.</span>
                      <h5 class="card-title" style="margin-bottom: 5px;"><b>You</b></h5>
                      <p class="card-text">
                        This is another card with title and supporting text below. This card has some additional content
                        to make it slightly taller overall.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- last button -->
              <div class="modal-footer" style="background-color: #1d242e; padding: 15px;">
                <div class="input-group">
                  <textarea class="form-control" aria-label="With textarea" placeholder="Drop your Suggestion..."></textarea>
                  <button type="button" class="btn btn-primary" style="background-color: #2c3c4c;">
                    <i class="bx bx-send"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ Bootstrap modals -->
      </div>
      <!-- / Content -->
    </div>
  </div>
 </div>
<!-- Content wrapper -->
</div>






{% endblock %}