{% extends 'otherapps/client/master.html' %}

{% block tcontent %}
CRM - Client - Home
{% endblock %}




{% block childcontent %}

<div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">UI elements /</span> List groups</h4>

              <div class="card mb-4">
                <h5 class="card-header"><b>List groups</b></h5>
                 <div class="card-body" style="padding-top: 30px;">
                  <div class="row">
                    <!-- Basic List group -->
                    <div class="col-lg-6 mb-4 mb-xl-0">
                      <small class="text-light fw-semibold">Basic</small>
                      <div class="demo-inline-spacing mt-3">
                        <div class="list-group align-items-center">
                          <a href="javascript:void(0);" class="list-group-item list-group-item-action align-items-center active">
                            <i class="bx bx-user me-2"></i>Accounts!!
                            <span class="badge bg-primary" style="float: right;">2</span>
                          </a>
                          <a href="javascript:void(0);" class="list-group-item list-group-item-action align-items-center">
                            <i class='bx bx-show-alt me-2'></i>Views!!
                            <span class="badge bg-primary" style="float: right;">102</span>
                          </a>
                          <a href="javascript:void(0);" class="list-group-item list-group-item-action align-items-center">
                          	<i class="bx bx-bell me-2"></i>Notifications!!
                          	<span class="badge bg-primary" style="float: right;">15</span>
                          </a>
                          <a href="javascript:void(0);" class="list-group-item list-group-item-action align-items-center disabled">
                            <i class='bx bx-world me-2'></i>Website!!
                            <span class="badge bg-primary" style="float: right;"></span>
                          </a>
                          <a href="javascript:void(0);" class="list-group-item list-group-item-action align-items-center">
                            <i class='bx bx-link me-2'></i>Social Links!!
                            <span class="badge bg-primary" style="float: right;"></span>
                          </a>
                          <a href="javascript:void(0);" class="list-group-item list-group-item-action align-items-center">
                            <i class="bx bx-purchase-tag-alt me-2"></i>Bookmarks!!
                            <span class="badge bg-primary" style="float: right;">7</span>
                          </a>
                          <a href="javascript:void(0);" class="list-group-item list-group-item-action align-items-center">
                            <i class='bx bx-bookmarks me-2'></i>Save Notes!!
                            <span class="badge bg-primary" style="float: right; background-color: #fff;">18</span>
                          </a>
                          <a href="javascript:void(0);" class="list-group-item list-group-item-action align-items-center">
                            <i class='bx bxs-key me-2'></i>Passwords!!
                            <span class="badge bg-primary" style="float: right;"></span>
                          </a>
                          <a href="javascript:void(0);" class="list-group-item list-group-item-action align-items-center">
                            <i class="bx bx-support me-2"></i>YouTube Music!!
                            <span class="badge bg-primary disabled" style="float: right;"></span>
                          </a>
                          <a href="javascript:void(0);" class="list-group-item list-group-item-action align-items-center">
                          	<i class="bx bx-tv me-2"></i>YouTube & Show's!!
                          	<span class="badge bg-primary" style="float: right;"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!--/ List group Flush (Without main border) 
                    <!-- Custom content with heading -->
                    <div class="col-lg-6">
                      <small class="text-light fw-semibold">Custom content</small>
                      <div class="demo-inline-spacing mt-3">
                        <div class="list-group">
                          <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex justify-content-between w-100">
                              <h5><b>List group item heading</b></h5>
                              <small>a hour ago</small>
                            </div>
                            <p class="mb-1">
                              Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                              blandit. Donec id elit non mi porta gravida at eget risus varius blandit. 
                            </p>
                            <small>— Donec id elit non mi porta.</small>
                          </a>
                          <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex justify-content-between w-100">
                              <h5><b>List group item heading</b></h5>
                              <small class="text-muted">1 days ago</small>
                            </div>
                            <p class="mb-1">
                              Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                              blandit. Donec id elit non mi porta gravida at eget risus varius blandit. 
                            </p>
                            <small class="text-muted">— Donec id elit non mi porta.</small>
                          </a>
                          <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex justify-content-between w-100">
                              <h5><b>List group item heading</b></h5>
                              <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">
                              Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                              blandit. Donec id elit non mi porta gravida at eget risus varius blandit. 
                            </p>
                            <small class="text-muted">— Donec id elit non mi porta.</small>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!--/ Custom content with heading -->
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
          </div>


{% endblock %}





