{% extends 'otherapps/client/master.html' %}

{% block tcontent %}
CRM - Client
{% endblock %}




{% block childcontent %}

<div class="content-wrapper">
  <!-- Content -->
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms /</span> Input groups</h4>
    <div class="row">
      <!-- Basic -->

      <div class="col-md-12">
        <div class="card mb-4">
          <h5 class="card-header"><b>Profile Details</b></h5>
          <!-- Account -->
          <hr class="my-0">
          <div class="card-body">
            <form id="formAccountSettings" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- <form method="post" action="projectsoftdetails" onsubmit="return false" enctype="multipart/form-data"> -->
              <input type="hidden" id="clientID" name="clientID" value="{{clientID}}">
              <input type="hidden" id="projectID" name="projectID" value="{{values.id}}">
              <input type="hidden" id="prevPATH" name="prevPATH" value="{{prevPATH}}">
              <div class="row">
                <div class="mb-3 col-md-7">
                  <label for="projectname" class="form-label">New Project Name</label>
                  <input class="form-control" type="text" id="projectname" name="projectname"
                    value="{{values.ProjectName}}" placeholder="Project CRM" autofocus="" readonly>
                </div>
                <!-- <div class="mb-3 col-md-3">
                  <label for="assignto" class="form-label">CLIENT Name </label>
                  <input class="form-control" type="text" id="assignto" name="assignto" value="{{ClientFullName}}"
                    placeholder="None" autofocus="" readonly>
                </div> -->
                <div class="mb-3 col-md-5">
                  <label for="assignto" class="form-label">ADMIN Name</label>
                  <input class="form-control" type="text" id="assignto" name="assignto" value="{{values.Admin}}"
                    placeholder="None" autofocus="" readonly>
                </div>
                <div class="mb-3 col-md-3">
                  <label for="programminglanguage" class="form-label">Programming Language</label>
                  <input class="form-control" type="text" id="programminglanguage" name="programminglanguage"
                    value="{{values.ProgrammingLanguage}}" placeholder="None" autofocus="" readonly>
                  <div id="defaultFormControlHelp" class="form-text">
                    Here put the main <b>'programming language'</b>.
                  </div>
                </div>
                <div class="mb-3 col-md-3">
                  <label for="frontend" class="form-label">Front-End</label>
                  <input class="form-control" type="text" id="frontend" name="frontend" value="{{values.FrontEnd}}"
                    placeholder="None" autofocus="" readonly>
                  <div id="defaultFormControlHelp" class="form-text">
                    Here <b>'simple'</b> means <b>'html, css and js'</b> language.
                  </div>
                </div>
                <div class="mb-3 col-md-3">
                  <label for="backend" class="form-label">Back-End</label>
                  <input class="form-control" type="text" id="backend" name="backend" value="{{values.BackEnd}}"
                    placeholder="None" autofocus="" readonly>
                </div>
                <div class="mb-3 col-md-3">
                  <label for="database" class="form-label">Database</label>
                  <input class="form-control" type="text" id="database" name="database" value="{{values.DataBase}}"
                    placeholder="None" autofocus="" readonly>
                </div>
                <div class="mb-3 col-md-7">
                    <label for="exampleFormControlTextarea1" class="form-label">Soft Discription</label>
                    <textarea class="form-control" id="softdiscription" name="softdiscription"
                        style="height:120px" rows="4" value=""
                        readonly>{{values.SoftDiscription}}</textarea>
                    <div id="defaultFormControlHelp" class="form-text">
                        Here is you briefly describe exactly what features you want on your project. And
                        <b>describe everything.....</b>
                    </div>
                </div>
                <div class="mb-3 col-md-5">
                  <div class="row">
                    <!-- first three places -->
                    <div class="mb-3 col-md-5">
                      <label for="state" class="form-label">Beginning Date</label>
                      <!-- <input class="form-control" type="date" id="html5-date-input"  value="{{values.BeginningDate |date:'M d, Y'}}"  name="beginningdate" readonly> -->
                      <input class="form-control" type="date" id="html5-date-input"
                        value="{{values.BeginningDate |date:'Y-m-d'}}" name="beginningdate" readonly>
                    </div>
                    <div class="mb-3 col-md-2">
                      <br><br>
                      <center><i class='bx bx-transfer bx-spin bx-sm'></i></center>
                    </div>
                    <div class="mb-3 col-md-5">
                      <label for="state" class="form-label">Ending Date</label>
                      <!-- <input class="form-control" type="date" id="html5-date-input"  value="{{values.EndingDate |date:'M d, Y'}}"  name="beginningdate" readonly> -->
                      <input class="form-control" type="date" id="html5-date-input"
                        value="{{values.EndingDate |date:'Y-m-d'}}" name="endingdate" readonly>
                    </div>
                    <!-- first three places -->
                  </div>
                  <div class="mb-3">
                    <label for="firstName" class="form-label">Assign your budget ammount, at max!!</label>
                    <div class="input-group">
                      <span class="input-group-text">In Rupees.</span>
                      <input type="number" class="form-control" placeholder="Starting Amount"
                        value="{{values.StartingAmount}}" name="startingamount" readonly>
                      <span class="input-group-text" style="color:#ffffff">to</span>
                      <input type="number" class="form-control" placeholder="Ending Amount"
                        value="{{values.EndingAmount}}" name="endingamount" readonly>
                      <!-- <span class="input-group-text">.00</span> -->
                    </div>
                  </div>
                </div>
              </div>

              <br><br>
              <hr class="my-0">
              <br><br>
              <br><br>

              <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="exampleFormControlTextarea1" class="form-label">Hard Discription</label>
                    <textarea class="form-control" id="harddiscription" name="harddiscription"
                        style="" rows="20" value="" >{{values.SoftDiscription}}</textarea>
                    <div id="defaultFormControlHelp" class="form-text">
                        This is the final Discription, who we see at the end. So <b>describe everything.....</b>
                    </div>
                </div>

        <form id="formAccountSettings" method="POST">
          {% csrf_token %}
          <div class="col-sm-8" style="height:520px; padding:0;">
            <div class="modal-content" style="height: 100%; margin: 0 0 0 0;">
              <h5 class="card-header" style="background-color:#0099ff; padding: 15px;">
                <span class="primary" style="float: right; color: white; ">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-icon rounded-pill dropdown-toggle hide-arrow"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                      <li><a class="dropdown-item" href="javascript:void(0);">Another action</a></li>
                      <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="javascript:void(0);">Separated link</a></li>
                    </ul>
                  </div>
                </span>
                <b style="color: white;">{{values.ProjectName}}</b>
                <br>
                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                {% for detail in detailsSet%}
                  <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top" class="avatar avatar-xs pull-up" title="" data-bs-original-title="{{detail.id}} — {{detail.FullName}}">
                  <img src="/_uploads/{{detail.ProfilePick|default:'employee/user.png'}}" alt="Avatar" class="rounded-circle">
                  </li>
                {% endfor %}
                </ul>
              </h5>
              <div class="modal-body" style="overflow: auto;">
                <!-- whatsapp special massage -->
                <div class="col-sm-10" style="padding: 2px; margin-right:8.33%; margin-left: 8.33%;">
                  <div class="card"
                    style="background-color:#07807559; color:black; padding: 5px; margin-top: -18px; margin-bottom: 15px;">
                    <!-- <small class="text-muted" style="float: right; top:50%;">Last updated 3 mins ago</small> -->
                    <!-- <h5 class="card-title">Card title</h5> -->
                    <div class="col-sm-12">
                      <i class='bx bxs-lock-alt bx-xs' heigh></i>
                      <small style="font-size:9px;">
                        WhatsApp uses end-to-end encryption, which means nobody except the sender and recipient can read
                        messages. Other chat apps like Facebook Messenger and Telegram don't use end-to-end encryption
                        by default. Is WhatsApp encrypted? Yes, all chats on the platform are encrypted by default.
                      </small>
                    </div>
                  </div>
                </div>
                <!-- chatting -->
            {% for value in myAllSuggestions %}
              {% if profileData.id == value.SenderID.id and profileData.Role == value.SenderRole %}
                <div class="col-sm-9" style="padding: 2px; margin-left:25%;">
                  <div class="card" style="background-color:#fff999f9; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <!-- <span class="primary" style="float:right;color:gray; font-size:12px;">— {{value.SendingDateTime|time:"g:i A"}}</span> -->
                      <p class="card-text">
                        <!-- <b class="card-title" style="color:#ff7700;">You 
                                <b class="card-title" style="color:#ff7700;"> <u> {{value.FullName}} </u>
                                <u style="color: black;font-size:12px;">({{value.Role}}):</u></b> -->
                        {{value.ContentData}}
                      <span class="primary" style="float:right;color:gray; font-size:12px;">— {{value.SendingDateTime|time:"g:i A"}}</span>
                      </p>
                    </div>
                  </div>
                </div>
              {% else %}
                <div class="col-sm-9" style="padding: 2px; margin-right:25%;">
                  <div class="card" style="background-color:#ffffff; color:black;">
                    <div class="card-body" style="padding: 10px;">
                      <span class="primary" style="float:right;color:gray; font-size:12px;">— {{value.SendingDateTime|time:"g:i A"}}</span>
                      <p class="card-text">
                        <b class="card-title" style="color:#ff7700;"> <u> {{value.SenderID.FullName}} </u>
                          <u style="color: black;font-size:12px;">({{value.SenderRole}}):</u></b>
                          <br>
                        {{value.ContentData}}
                      <!-- <span class="primary" style="float:right;color:gray; font-size:12px;">— {{value.SendingDateTime|time:"g:i A"}}</span> -->
                      </p>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

              </div>
              <!-- last button -->
              <div class="modal-footer" style="background-color: #1d242e; padding:5px;">
                <div class="input-group">
                  <textarea class="form-control" aria-label="With textarea" placeholder="Drop your Suggetions..." name="contentdata" style="height: 20px;"></textarea>
                    <button  type="submit" class="btn btn-primary" style="background-color: #2c3c4c;"> 
                      <i class="bx bx-send"></i>
                    </button>
                    <!-- {% if not detailsSet.textareaReadonly %} 
                    <button  type="submit"  class="btn btn-primary" style="background-color: #2c3c4c;"> 
                      <i class="bx bx-send"></i>
                    </button>
                    {% else %}
                    <div type="submit"  class="btn btn-primary" style="background-color: #2c3c4c;"> 
                      <br>
                      <i class="bx bx-send"></i>
                    </div>
                    {% endif %} -->
                </div>
              </div>
            </div>
          </div>
        </form>


                <div class="mt-2">
                  <!-- <button href="/clientdetails/" type="submit" class="btn btn-primary me-2">Save changes</button> -->
                  <button type="submit" class="btn btn-primary me-2">Save changes</button>
                  <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                </div>
              </div>
            </form>
          </div>
          <!-- /Account -->
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}